<div class="row">
	<div class="col-xs-1">
	  <label for="self_language" class="dropdown-label">Participants: </label>
	</div>
	<div class="col-xs-2">
	  <div class="input-group">
	      <select class="form-control dropdown-community" (change)="onSelect($event.target.value)">
	          <option *ngFor="let participant of participants" [ngValue]="participant" data-toggle="tooltip" title="{{participant}}" >{{ participant }}</option>
	      </select>
	  </div>
	</div>
</div>
<div *ngFor="let participant of selectedParticipants">
	<div class="row">
		<div class="col-xs-1">
			{{participant}}
		</div>
		<div class="col-xs-1">
			<button class="filter-button" (click)="removeParticipant(participant)"> Remove </button>
		</div>
	</div>
</div>
<div class="row">
	<div id="evolution-graph"></div>
</div>
