<div class="row">
  <div class="page-wrapper">
    <!-- <search-box></search-box> -->
    <div id="page">
      <app-header></app-header>
      <div class="content-wrapper people">
        <app-carousel></app-carousel>
        <div class="container">
          <div class="section-header">
            <h1>Meet the team</h1>
          </div>
        </div>
        <section class="section-members">
          <div class="container">
            <div class="row">
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <img src="assets/img/UPB.jpg" alt="location picture" />
                      <h2>Core Team</h2>
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListCore">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <h2>PhD Students</h2>
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListStudents">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <img src="assets/img/UGA.jpg" alt="location picture" />
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListLSE">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <img src="assets/img/LMU.png" alt="location picture" />
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListLMU">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <img src="assets/img/ASU.jpg" alt="location picture" />
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListASU">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <img src="assets/img/GSU.jpg" alt="location picture" />
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListGSU">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="people-container">
                <div class="header">
                  <div class="sign-picture-wrapper">
                    <div class="sign-picture">
                      <h3>Former team members</h3>
                    </div>
                  </div>
                </div>
                <div class="people-list-wrapper">
                  <div class="people-list" *ngFor="let people of peopleListPrevious">
                    <div class="people-name">
                      <span>{{people.name}}</span>
                    </div>
                    <div class="people-social">
                      <ul class="social-block">
                        <li>
                          <a *ngIf="people.dblplink" title="dblp profile of {{people.name}}" href="{{people.dblplink}}"
                            target="_blank">
                            <i class="fa fa-eraser"></i>
                          </a>
                          <a *ngIf="!people.dblplink" disabled="disabled">
                            <i class="fa fa-eraser inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.scholarlink" title="Google Scholar profile of {{people.name}}"
                            href="{{people.scholarlink}}" target="_blank">
                            <i class="fa fa-graduation-cap"></i>
                          </a>
                          <a *ngIf="!people.scholarlink" disabled="disabled">
                            <i class="fa fa-graduation-cap inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.linkedin" title="LinkedIn profile of {{people.name}}"
                            href="{{people.linkedin}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                          <a *ngIf="!people.linkedin" disabled="disabled">
                            <i class="fa fa-linkedin inactive"></i>
                          </a>
                        </li>
                        <li>
                          <a *ngIf="people.researchgate" title="ResearchGate profile of {{people.name}}"
                            href="{{people.researchgate}}" target="_blank">
                            <i class="fa fa-file-text"></i>
                          </a>
                          <a *ngIf="!people.researchgate" disabled="disabled">
                            <i class="fa fa-file-text inactive"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>