<div class="page-wrapper" ng-controller="DemoCsclController">
	<search-box></search-box>
	<div id="page">
		<reader-header></reader-header>
		<!-- Main Content -->
		<div class="content-wrapper">
			<carousel-section></carousel-section>
			<!-- Main Content -->
			<div class="container">
				<demo-menu></demo-menu>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<h2>{{title}}</h2>
					</div>
				</div>
			</div>
			<div class="content-wrapper">
				<div class="form-group demo-wrapper">
					<div class="input">
						<p>
							<label for="cscl_path">Upload conversation</label>
							<!-- <textarea class="form-control" rows="10" id="cscl_conversation" ng-model="csclFormData.conversation"></textarea> -->
							<input id="cscl_path" class="form-control" ng-model="csclFormData.conversationPath" />
						</p>
						<p>
							<label for="cscl_language">Language <span class="required">*</span></label>
							<select id="cscl_language" ng-model="csclFormData.language" ng-options="option.name for option in languages track by option.id"></select>
						</p>
						<p>
							<label for="cscl_lsa">LSA <span class="required">*</span></label>
							<select id="cscl_lsa" ng-model="csclFormData.lsa" ng-options="option.name for option in lsaOptions track by option.id"></select>
						</p>
						<p>
							<label for="cscl_lda">LDA <span class="required">*</span></label>
							<select id="cscl_lda" ng-model="csclFormData.lda" ng-options="option.name for option in ldaOptions track by option.id"></select>
						</p>
						<p>
							<label for="cscl_pos">Part of Speech tagging <span class="required">*</span></label>
							<select id="cscl_pos" ng-model="csclFormData.posTagging" ng-options="option.name for option in posTaggingOptions track by option.id"></select>
						</p>
                        <p>
							<label for="cscl_dialogism">Compute dialogism <span class="required">*</span></label>
							<select id="cscl_dialogism" ng-model="csclFormData.dialogism" ng-options="option.name for option in dialogismOptions track by option.id"></select>
						</p>
						<p>
							<label for="cscl_threshold">Semantic similarity threshold for concept map <span class="required">*</span></label>
							<input id="cscl_threshold" type="number" step="0.1" min="0.0" max="0.9" class="form-control" ng-model="csclFormData.threshold" />
						</p>
						<div class="bottom-buttons" ng-if="!loading">
							<button class="filter-button" ng-click="buttonClick('CSCL')">Process</button>
						</div>        
						<div class="bottom-buttons" ng-if="loading">Loading...</div>
					</div>
					<div id="results">
				        
				        <div ng-if="showParticipantInteractionMap" class="row">
				        	<div class="col-xs-12 col-md-3">
						        <h4>Participant Interaction</h4>
								<ul class="course-description-list">
						            <li class="lesson" ng-repeat="topic in participants">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{topic.value}}</span>
										</div>
										<div class="body">
											<p>{{topic.name}}</p>
										</div>
						            </li>
						        </ul>
					        </div>
					        <div class="col-xs-12 col-md-9" id="participantInteractionMap">
					        </div>
				        </div>
				        
				        <div ng-if="showParticipantCsclIndices" class="row">
				        	<div class="col-xs-12 col-md-12">
				        		<h4>CSCL Indices</h4>
				        		<table class="cscl-indices">
				        			<tbody>
				        				<tr class="entry" ng-repeat="(key, value) in csclIndices">
				        					<td class="participant">{{key}}</td>
				        					<td class="value" ng-repeat="(keyInner, valueInner) in csclIndices[key]">
				        						{{valueInner}}
				        					</td>
				        				</tr>
				        			</tbody>
				        			<thead>
				        				<tr ng-repeat="(key, value) in csclIndices" ng-if="$first">
				        					<td>Participant</td>
				        					<td ng-repeat="(keyInner, valueInner) in csclIndices[key]">
				        						{{keyInner}}
				        					</td>
				        				</tr>
				        			</thead>
				        		</table>
				        	</div>
				        	<div class="col-xs-12 col-md-12">
				        		<h5>CSCL Indices Description</h5>
				        		<ul class="course-description-list">
						            <li class="lesson cscl-indices-description" ng-repeat="(key, value) in csclIndicesDescription">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{key}}</span>
										</div>
										<div class="body">
											<p>{{value}}</p>
										</div>
						            </li>
						        </ul>
				        	</div>
				        </div>
				        
				        <div ng-if="showParticipantEvolutionGraph" class="row">
				        	<div class="col-xs-12 col-md-12">
								<h4>Participant evolution</h4>
							</div>
							<div class="col-xs-12 col-md-12">
								<svg id="participantEvolution" width="100%" height="300"></svg>
							</div>
				        </div>
				        
				        <div ng-if="showCollaborationGraphs">
				        	<div class="row">
								<div class="col-xs-12 col-md-12">
									<h4>Collaboration - Social Knowledge Building</h4>
								</div>
								<div class="col-xs-12 col-md-12">
									<svg id="collaborationSocialKB" width="100%" height="300"></svg>
								</div>
							</div>
				        	<div class="row">
								<div class="col-xs-12 col-md-12">
									<h4>Collaboration - Voice Overlap</h4>
								</div>
								<div class="col-xs-12 col-md-12">
									<svg id="collaborationVoiceOverlap" width="100%" height="300"></svg>
								</div>
							</div>
				        </div>
					        
					    <div ng-if="showConcept" class="row">
				        	<div class="col-xs-12 col-md-3">
						        <h4>Concept Map</h4>
								<ul class="course-description-list">
						            <li class="lesson" ng-repeat="topic in topics | limitTo:25">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{topic.value}}</span>
										</div>
										<div class="body">
											<p>{{topic.name}}</p>
										</div>
						            </li>
						        </ul>
					        </div>
					        <div class="col-xs-12 col-md-9" id="conceptMap">
					        </div>
				        </div>
				        
					</div>
			    </div>
				<!-- <action-box></action-box> -->
			</div>
		</div>
	</div>