<div class="page-wrapper" ng-controller="DemoCsclController">
	<search-box></search-box>
	<div id="page">
		<reader-header></reader-header>
		<!-- Main Content -->
		<div class="content-wrapper">
			<carousel-section></carousel-section>
			<!-- Main Content -->
			<div class="container">
				<demo-menu></demo-menu>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<h2>{{title}}</h2>
					</div>
				</div>
			</div>
			<div class="content-wrapper">
				<div class="form-group demo-wrapper">
					<div class="input">
						
						<div class="row">
							<div class="col-xs-3 col-md-3">
								<label for="file">CSCL file <span class="required">*</span><br /><small>(only XML files allowed)</small></label>
							</div>
							<div class="col-xs-4 col-md-4">
								<button id="file" class="filter-button" type="file" ngf-select="uploadFile($file, $invalidFiles, 'csclFile', 'csclErrFile', 'csclErrorMsg')"
								          accept="application/xml,text/xml" ngf-max-height="1000" ngf-max-size="10MB">
								      Select File</button>
								File:
								<small>{{csclFile.name}} {{csclErrFile.name}} {{csclErrFile.$error}} {{csclErrFile.$errorParam}}
									<span class="progress" ng-show="csclFile.progress >= 0">
								    	<div style="width:{{csclFile.progress}}%" ng-bind="csclFile.progress + '%'"></div>
								    </span>
								</small>     
								{{csclErrorMsg}}
								<input type="hidden" ng-model="formData.csclFile" />
							 </div>
							 <div class="col-xs-3 col-md-3">
							 	<a href="{{sampleFileUrl}}" target="_blank">Sample CSCL file</a>
							 </div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="language">Language <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<select id="language" class="form-control" ng-model="formData.language" ng-options="option.name for option in languages track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-12 col-md-12">
								<a ng-click="advanced = !advanced" class="pointer">
									<span ng-if="!advanced">&#x25BC; Show</span>
									<span ng-if="advanced">&#x25B2; Hide</span>
									advanced options
								</a>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="lsa">LSA corpus <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<select id="lsa" class="form-control" ng-model="formData.lsa" ng-options="option.name for option in lsaOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="lda">LDA corpus <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<select id="lda" class="form-control" ng-model="formData.lda" ng-options="option.name for option in ldaOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="pos">Part of speech tagging <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<select id="pos" class="form-control" ng-model="formData.posTagging" ng-options="option.name for option in posTaggingOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="dialogism">Compute dialogism <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
		                        <div class="input-group">
									<select id="dialogism" class="form-control" ng-model="formData.dialogism" ng-options="option.name for option in dialogismOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="threshold">Semantic similarity threshold for concept map <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<input id="threshold" class="form-control" type="number" step="0.1" min="0.0" max="0.9" ng-model="formData.threshold" />
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="!loading">
							<div class="col-xs-12 col-md-12">
								<div class="bottom-buttons">
									<button class="filter-button" ng-click="buttonClick('CSCL')">Process</button>
								</div>
							</div>
						</div>        
						
					</div>
					<div id="results">
					
						<div class="row" ng-if="loading">
							<div class="col-xs-12 col-md-12">
								<img src="img/loading.gif" alt="Loading..." />
							</div>
						</div>
				        
				        <div ng-if="showParticipantInteractionMap" class="row">
				        	<div class="col-xs-12 col-md-3">
						        <h4>Participant Interaction</h4>
								<ul class="course-description-list">
						            <li class="lesson" ng-repeat="topic in participants">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{topic.value}}</span>
										</div>
										<div class="body">
											<p>{{topic.name}}</p>
										</div>
						            </li>
						        </ul>
					        </div>
					        <div class="col-xs-12 col-md-9" id="participantInteractionMap">
					        </div>
				        </div>
				        
				        <div ng-if="showParticipantCsclIndices" class="row top-buffer">
				        	<div class="col-xs-12 col-md-12">
				        		<h4>CSCL Indices</h4>
				        		<table class="cscl-indices">
				        			<tbody>
				        				<tr class="entry" ng-repeat="(key, value) in csclIndices">
				        					<td class="participant">{{key}}</td>
				        					<td class="value" ng-repeat="(keyInner, valueInner) in csclIndices[key]">
				        						{{valueInner}}
				        					</td>
				        				</tr>
				        			</tbody>
				        			<thead>
				        				<tr ng-repeat="(key, value) in csclIndices" ng-if="$first">
				        					<td>Participant</td>
				        					<td ng-repeat="(keyInner, valueInner) in csclIndices[key]">
				        						{{keyInner}}
				        					</td>
				        				</tr>
				        			</thead>
				        		</table>
				        	</div>
				        	<div class="col-xs-12 col-md-12">
				        		<h5>CSCL Indices Description</h5>
				        		<ul class="course-description-list">
						            <li class="lesson cscl-indices-description" ng-repeat="(key, value) in csclIndicesDescription">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{key}}</span>
										</div>
										<div class="body">
											<p>{{value}}</p>
										</div>
						            </li>
						        </ul>
				        	</div>
				        </div>
				        
				        <div ng-if="showParticipantEvolutionGraph" class="row top-buffer">
				        	<div class="col-xs-12 col-md-12">
								<h4>Participant evolution</h4>
							</div>
							<div class="col-xs-12 col-md-12">
								<svg id="participantEvolution" width="100%" height="300"></svg>
							</div>
				        </div>
				        
				        <div ng-if="showCollaborationGraphs" class="row top-buffer">
				        	<div class="row">
								<div class="col-xs-12 col-md-12">
									<h4>Collaboration - Social Knowledge Building</h4>
								</div>
								<div class="col-xs-12 col-md-12">
									<svg id="collaborationSocialKB" width="100%" height="300"></svg>
								</div>
							</div>
				        	<div class="row">
								<div class="col-xs-12 col-md-12">
									<h4>Collaboration - Voice Overlap</h4>
								</div>
								<div class="col-xs-12 col-md-12">
									<svg id="collaborationVoiceOverlap" width="100%" height="300"></svg>
								</div>
							</div>
				        </div>
					        
					    <div ng-if="showConceptMap" class="row top-buffer">
				        	<div class="col-xs-12 col-md-3">
						        <h4>Concept Map</h4>
								<ul class="course-description-list">
						            <li class="lesson" ng-repeat="topic in topics | limitTo:25">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{topic.value}}</span>
										</div>
										<div class="body">
											<p>{{topic.name}}</p>
										</div>
						            </li>
						        </ul>
					        </div>
					        <div class="col-xs-12 col-md-9" id="conceptMap">
					        </div>
				        </div>
				        
					</div>
			    </div>
				<!-- <action-box></action-box> -->
			</div>
		</div>
	</div>