<div class="page-wrapper" ng-controller="DemoCvController">
    <search-box></search-box>
    <div id="page">
        <reader-header></reader-header>
        <!-- Main Content -->
        <div class="content-wrapper">
            <carousel-section></carousel-section>
            <!-- Main Content -->
            <div class="container">
                <div class="section-header">
                    <h1>{{title}}</h1>
                </div>
                <demo-menu></demo-menu>
            </div>
            <div class="content-wrapper">
                <div class="form-group demo-wrapper">
                    <div class="input">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <label for="cv_file">CV file <span class="required">*</span><br /><small>(only PDF files allowed)</small></label>
                            </div>
                            <div class="col-xs-7 col-md-7">
                                <button class="btn theme-btn-1" id="cv_file" type="file" ngf-select="uploadFile('CV', $file, $invalidFiles, 'cvFile', 'cvErrFile', 'cvErrorMsg')"
                                        accept="application/pdf" ngf-max-height="1000" ngf-max-size="10MB"><span class="button">Select File</span></button>
                                File:
                                <small>{{cvFile.name}} {{cvErrFile.name}} {{cvErrFile.$error}} {{cvErrFile.$errorParam}}
                                    <span class="progress" ng-show="cvFile.progress >= 0">
                                        <div style="width:{{cvFile.progress}}%" ng-bind="cvFile.progress + '%'"></div>
                                    </span>
                                </small>     
                                {{cvErrorMsg}}
                                <input type="hidden" ng-model="formData.cv" />
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-xs-3 col-md-3">
                                <label for="keywords">Specific keywords <span class="required">*</span><br /><smalL>(use comma as delimiter)</smalL></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <textarea id="keywords" class="form-control" ng-model="formData.keywords" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-xs-3 col-md-3">
                                <label for="keywords">Words to ignore<br /><small>(use comma as delimiter)</small></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <textarea id="ignore" class="form-control" ng-model="formData.ignore" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-xs-3 col-md-3">
                                <label for="language">Language <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="language" class="form-control" ng-model="formData.language" ng-options="option.name for option in languages track by option.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-xs-12 col-md-12">
                                <a ng-click="advanced = !advanced" class="pointer">
                                    <span ng-if="!advanced">&#x25BC; Show</span>
                                    <span ng-if="advanced">&#x25B2; Hide</span>
                                    <span>advanced options</span>
                                </a>
                            </div>
                        </div>
                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="lsa">LSA corpus <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="lsa" class="form-control" ng-model="formData.lsa" ng-options="option.name for option in lsaOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="lda">LDA corpus <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="lda" class="form-control" ng-model="formData.lda" ng-options="option.name for option in ldaOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="pos">Part of speech tagging <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="pos" class="form-control" ng-model="formData.posTagging" ng-options="option.name for option in posTaggingOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="dialogism">Compute dialogism <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="dialogism" class="form-control" ng-model="formData.dialogism" ng-options="option.name for option in dialogismOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="threshold">Semantic similarity threshold for concept map <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <input id="threshold" class="form-control" type="number" step="0.1" min="0.0" max="0.9" ng-model="formData.threshold" />
                                </div>
                            </div>
                        </div>
                        <div class="row top-buffer" ng-if="!loading">
                            <div class="col-xs-12 col-md-12">
                                <div class="bottom-buttons">
                                    <button class="btn theme-btn-1" ng-click="buttonClick('CV_COVER')"><span class="button">Process</span></button>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div id="results">
                        <div class="row" ng-if="loading">
                            <div class="col-xs-12 col-md-12">
                                <img src="img/loading.gif" alt="Loading..." />
                            </div>
                        </div>				        
                        <!-- <div ng-if="showParticipantEvolutionGraph" class="row top-buffer">
                            <div class="col-xs-12 col-md-12">
                                <h4>Participant evolution</h4>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <svg id="participantEvolution" width="100%" height="300"></svg>
                            </div>
                        </div>  -->
                        <div ng-if="showStats" class="row top-buffer">
                            <div class="col-xs col-md-12">
                                <h5>Text preview</h5>
                                <div class="cv-preview"><div ng-bind-html="text"></div></div>
                            </div>
                        </div>
                        
                        <div ng-if="showStats" class="row top-buffer">
                            <div class="col-xs-12 col-md-6">
                                <h5>CV overview</h5>
                                <ul class="course-description-list">
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{pages}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Pages</p>
                                        </div>
                                    </li>
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{paragraphs}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Paragraphs</p>
                                        </div>
                                    </li>
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{sentences}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Sentences</p>
                                        </div>
                                    </li>
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{words}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Words</p>
                                        </div>
                                    </li>
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{contentWords}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Content words</p>
                                        </div>
                                    </li>
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{colors}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Colors</p>
                                        </div>
                                    </li>
                                    <li class="lesson">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{images}}</span>
                                        </div>
                                        <div class="body">
                                            <p>Images</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div ng-if="showSemanticRelevance" class="row top-buffer">
                            <div class="col-xs-12 col-md-12">
                                <h4>Keywords relevance</h4>
                                <div class="col-xs-12 col-md-6">
                                    <h5>Keyword overlap</h5>
                                    <ul class="course-description-list">
                                        <li class="lesson" ng-repeat="keyword in keywords">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{keyword.relevance}}</span>
                                            </div>
                                            <div class="body">
                                                <p>{{keyword.name}} ({{keyword.noOccurences}} occurences)</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h5>Relevance</h5>
                                    <ul class="course-description-list">
                                        <li class="lesson">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{keywordsDocumentCoverage}}</span>
                                            </div>
                                            <div class="body">
                                                <p>(Keywords, document) coverage</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div ng-if="showConceptMap" class="row top-buffer">
                            <div class="col-xs-12 col-md-3">
                                <h4>Concept Map</h4>
                                <ul class="course-description-list">
                                    <li class="lesson" ng-repeat="topic in topics| limitTo:25">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{topic.value}}</span>
                                        </div>
                                        <div class="body">
                                            <p>{{topic.name}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-9" id="conceptMapCv">
                            </div>
                        </div>

                        <div ng-if="showWords" class="row top-buffer">
                            <div class="col-xs-12 col-md-6">
                                <h4>Positive words</h4>
                                <ul class="course-description-list">
                                    <li class="lesson" ng-repeat="(key, value) in positiveWords">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">&nbsp;</span>
                                        </div>
                                        <div class="body">{{value}}</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <h4>Negative words</h4>
                                <ul class="course-description-list">
                                    <li class="lesson" ng-repeat="(key, value) in negativeWords">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">&nbsp;</span>
                                        </div>
                                        <div class="body">{{value}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div ng-if="showValences" class="row top-buffer">
                            <div class="col-xs-12 col-md-12">
                                <h4>Linguistic Inquiry and Word Count</h4>
                                <ul class="course-description-list" id="liwc-sentiments">
                                    <li class="lesson" ng-repeat="(key, value) in liwcEmotions">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{key}}</span>
                                        </div>
                                        <div class="body">&nbsp;</div>
                                        <ul class="lesson-description" style="display: none;">
                                            <li ng-repeat="(key, value) in value">
                                                <div class="heading">
                                                    <!-- <i class="icon icon-divider visible"></i> -->
                                                    <span class="lesson-nr no-select">&nbsp;</span>
                                                </div>
                                                <div class="body">
                                                    <p>{{value}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div ng-if="showComplexity" class="row top-buffer">
                            <div class="col-xs-12 col-md-12">
                                <h4>Textual complexity</h4>
                                <ul class="course-description-list" id="textual-complexity">
                                    <li class="lesson" ng-repeat="complex in complexity">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{complex.content}}</span>
                                        </div>
                                        <div class="body">&nbsp;</div>
                                        <ul class="lesson-description" style="display: none;">
                                            <li ng-repeat="complexEntry in complex.valences">
                                                <div class="heading">
                                                    <!-- <i class="icon icon-divider visible"></i> -->
                                                    <span class="lesson-nr no-select">{{complexEntry.score}}</span>
                                                </div>
                                                <div class="body">
                                                    <p>{{complexEntry.content}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <action-box></action-box> -->
            </div>
        </div>
    </div>