<div class="page-wrapper" ng-controller="DemoSelfExplanationController">
	<search-box></search-box>
	<div id="page">
		<reader-header></reader-header>
		<!-- Main Content -->
		<div class="content-wrapper">
			<carousel-section></carousel-section>
			<!-- Main Content -->
			<div class="container">
                <div class="section-header">
                    <h1>{{title}}</h1>
                </div>
				<demo-menu></demo-menu>
			</div>
			<div class="content-wrapper">
				<div class="form-group demo-wrapper">
					<div class="input">
						
						<div class="row">
							<div class="col-xs-3 col-md-3">
								<label for="self_text">Text input <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<textarea class="form-control" rows="10" id="self_text" ng-model="formData.text"></textarea>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="self_explanation">Self explanation <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<textarea class="form-control" rows="6" id="self_explanation" ng-model="formData.explanation"></textarea>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="self_language">Language <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<div class="input-group">
									<select class="form-control" ng-model="formData.language" ng-options="option.name for option in languages track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-12 col-md-12">
								<a ng-click="advanced = !advanced" class="pointer">
									<span ng-if="!advanced">&#x25BC; Show</span>
									<span ng-if="advanced">&#x25B2; Hide</span>
									advanced options
								</a>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="self_lsa">LSA corpus <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<div class="input-group">
									<select class="form-control" ng-model="formData.lsa" ng-options="option.name for option in lsaOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="self_lda">LDA corpus <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<div class="input-group">
									<select class="form-control" ng-model="formData.lda" ng-options="option.name for option in ldaOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="self_pos_tagging">Part of Speech tagging <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<div class="input-group">
									<select class="form-control" ng-model="formData.posTagging" ng-options="option.name for option in posTaggingOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="advanced">
							<div class="col-xs-3 col-md-3">
								<label for="self_dialogism">Compute dialogism <span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<div class="input-group">
									<select class="form-control" id="self_dialogism" ng-model="formData.dialogism" ng-options="option.name for option in dialogismOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="!loading">
							<div class="col-xs-12 col-md-12">
								<div class="bottom-buttons">
									<button class="filter-button" ng-click="buttonClick('SELF_EXPLANATION')">Identify reading strategies</button>
								</div>
							</div>        
						</div>
						
					</div>
					<div id="results">
					
						<div class="row" ng-if="loading">
							<div class="col-xs-12 col-md-12">
								<img src="img/loading.gif" alt="Loading..." />
							</div>
						</div>	

				        <div ng-if="showReadingStrategies">
							<div class="col-xs-12 col-md-12">
								<h4>Reading Strategies</h4>
								<div ng-bind-html="selfExplanationColored"></div>
							</div>
							<div class="col-xs-12 col-md-12">
								<ul class="course-description-list">
						            <li class="lesson" ng-repeat="strategy in strategies">
						            	<div class="heading">
											<span class="lesson-nr no-select">{{strategy.score}}</span>
										</div>
										<div class="body">
											<p>{{strategy.name}}</p>
										</div>
						            </li>
						        </ul>
						       </div>
				        </div>
				        
					</div>
			    </div>
				<!-- <action-box></action-box> -->
			</div>
		</div>
	</div>
</div>