<div class="page-wrapper" ng-controller="DemoSemanticAnnotationController">
    <search-box></search-box>
    <div id="page">
        <reader-header></reader-header>
        <!-- Main Content -->
        <div class="content-wrapper">
            <carousel-section></carousel-section>
            <!-- Main Content -->
            <div class="container">
                <div class="section-header">
                    <h1>{{title}}</h1>
                </div>
                <demo-menu></demo-menu>
            </div>
            <div class="content-wrapper">
                <div class="form-group demo-wrapper">
                    <div class="feedback">
                        <div class="alert alert-danger" role="alert" ng-if="errorMsg || errorFiles || errors">
                            <p ng-if="errorMsg">{{errorMsg}}</p>
                            <p ng-if="errorFiles"><i ng-show="errorFiles">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 25MB</i></p>
                            <p class="lesson" ng-repeat="error in errors">{{error}}</p>
                        </div>
                        <div class="alert alert-warning" role="alert" ng-if="warnings">
                            <p class="lesson" ng-repeat="warning in warnings">{{warning}}</p>
                        </div>
                    </div>
                    <div class="input">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <label for="file">Publication file <span class="required">*</span><br /><small>(only PDF files allowed)</small></label>
                            </div>
                            <div class="col-xs-7 col-md-7">
                                <button id="file" class="btn theme-btn-1" type="file" ngf-select="uploadFile($file, $invalidFiles, 'file', 'errFile', 'errorMsg')"
                                        accept="application/pdf" ngf-max-height="1000" ngf-max-size="25MB" ngf-model-invalid="errorFiles"><span class="button">Select File</span></button>
                                File:
                                <small>{{file.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                    <span class="progress" ng-show="file.progress >= 0">
                                        <div style="width:{{file.progress}}%" ng-bind="file.progress + '%'"></div>
                                    </span>
                                </small>     
                                {{errorMsg}}
                                <input type="hidden" ng-model="formData.file" />
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-xs-3 col-md-3">
                                <label for="semantic_abstract">Abstract <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <textarea id="semantic_abstract" class="form-control" rows="8" ng-model="formData.abstract"></textarea>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-xs-3 col-md-3">
                                <label for="semantic_keywords">Keywords <span class="required">*</span><br /><small>(use comma as delimiter)</small></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <textarea id="semantic_keywords" class="form-control" ng-model="formData.keywords"></textarea>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-xs-3 col-md-3">
                                <label for="semantic_language">Language <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="semantic_language" class="form-control" ng-model="formData.language" ng-options="option.name for option in languages track by option.id"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer">
                            <div class="col-xs-12 col-md-12">
                                <a ng-click="advanced = !advanced" class="pointer">
                                    <span ng-if="!advanced">&#x25BC; Show</span>
                                    <span ng-if="advanced">&#x25B2; Hide</span>
                                    advanced options
                                </a>
                            </div>
                        </div>

                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="lsa">LSA corpus <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="lsa" class="form-control" ng-model="formData.lsa" ng-options="option.name for option in lsaOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="lda">LDA corpus <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="lda" class="form-control" ng-model="formData.lda" ng-options="option.name for option in ldaOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="pos">Part of speech tagging <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="pos" ng-model="formData.posTagging" class="form-control" ng-options="option.name for option in posTaggingOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="dialogism">Compute dialogism <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <select id="dialogism" ng-model="formData.dialogism" class="form-control" ng-options="option.name for option in dialogismOptions track by option.id"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer" ng-if="advanced">
                            <div class="col-xs-3 col-md-3">
                                <label for="threshold">Semantic similarity threshold for concept map <span class="required">*</span></label>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="input-group">
                                    <input type="number" step="0.1" min="0.0" max="0.9" id="threshold" class="form-control" ng-model="formData.threshold" />
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer" ng-if="!loading">
                            <div class="col-xs-12 col-md-12">
                                <div class="bottom-buttons">
                                    <button class="btn theme-btn-1" ng-click="buttonClick()"><span class="button">Process</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="results">

                        <div class="row" ng-if="loading">
                            <div class="col-xs-12 col-md-12">
                                <img src="img/loading.gif" alt="Loading..." />
                            </div>
                        </div>

                        <!-- Semantic Annotation => Semantic Relevance -->
                        <div ng-if="showSemanticRelevance" class="row"><!--  && tabSemanticAnnotation == 'SEMANTIC_RELEVANCE' -->
                            <div class="col-xs-12 col-md-12">
                                <h4>Description & keywords relevance</h4>
                                <div class="col-xs-12 col-md-6">
                                    <h5>Keyword overlap</h5>
                                    <ul class="course-description-list">
                                        <li class="lesson" ng-repeat="keyword in keywords">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{keyword.relevance | number:3}}</span>
                                            </div>
                                            <div class="body">
                                                <p>{{keyword.name}} ({{keyword.noOccurences}} occurences)</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h5>Relevance</h5>
                                    <ul class="course-description-list">
                                        <li class="lesson">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{abstractDocumentSimilarity | number:3}}</span>
                                            </div>
                                            <div class="body">
                                                <p>(Abstract, document) similarity</p>
                                            </div>
                                        </li>
                                        <li class="lesson">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{keywordsAbstractCoverage | number:3}}</span>
                                            </div>
                                            <div class="body">
                                                <p>(Keywords, abstract) coverage</p>
                                            </div>
                                        </li>
                                        <li class="lesson">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{keywordsDocumentCoverage | number:3}}</span>
                                            </div>
                                            <div class="body">
                                                <p>(Keywords, document) coverage</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Semantic Annotation => Categorisation -->
                        <div ng-if="showSemanticCategories" class="row"><!--  && tabSemanticAnnotation == 'SEMANTIC_CATEGORIES' -->
                            <div class="col-xs-12 col-md-12">
                                <h4>Categorisation</h4>
                                <div class="col-xs-12 col-md-6">
                                    <h5>ACM Classification</h5>
                                    <ul class="course-description-list">
                                        <li class="lesson" ng-repeat="category in categories | filter:{ type: 1 }">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{category.relevance | number:3}}</span>
                                            </div>
                                            <div class="body">
                                                <p>{{category.name}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h5>Serious Games Classification</h5>
                                    <ul class="course-description-list">
                                        <li class="lesson" ng-repeat="category in categories | filter:{ type: 2 }">
                                            <div class="heading">
                                                <span class="lesson-nr no-select">{{category.relevance | number:3}}</span>
                                            </div>
                                            <div class="body">
                                                <p>{{category.name}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div ng-if="showConcept" class="row">
                            <div class="col-xs-12 col-md-3">
                                <h4>Keywords Map</h4>
                                <ul class="course-description-list">
                                    <li class="lesson" ng-repeat="topic in topics | limitTo:25">
                                        <div class="heading">
                                            <span class="lesson-nr no-select">{{topic.value | number:3}}</span>
                                        </div>
                                        <div class="body">
                                            <p>{{topic.name}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-9" id="conceptMap">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- <action-box></action-box> -->
            </div>
        </div>
    </div>
</div>