<div class="page-wrapper" ng-controller="DemoTextProcessingController">
    <search-box></search-box>
    <div id="page">
        <reader-header></reader-header>
        <div class="content-wrapper">
            <carousel-section></carousel-section>
            <div class="container">
                <div class="section-header">
                    <h1>{{title}}</h1>
                </div>
                <!--<demo-menu></demo-menu>-->
            </div>
            <div class="content-wrapper">
                <!-- <action-box></action-box> -->
                <demo-text-processing-section></demo-text-processing-section>
            </div>
        </div>
    </div>
</div>