<div class="page-wrapper" ng-controller="DemovCoPViewController">
	<search-box></search-box>
	<meta charset="utf-8">
	  <title>jQuery UI Datepicker - Default functionality</title>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
	  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<div id="page">
		<reader-header></reader-header>
		<!-- Main Content -->
		<div class="content-wrapper">
			<carousel-section></carousel-section>
			<!-- Main Content -->
			<div class="container">
				<demo-menu></demo-menu>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<h2>{{title}}</h2>
					</div>
				</div>
			</div>
			<div class="content-wrapper">
				<div class="form-group demo-wrapper">
					<div class="input">
						
						<div class="row">
							<div class="col-xs-3 col-md-3">
								<label for="filesInFolder">Community files<span class="required">*</span></label>
							</div>
							<div class="col-xs-7 col-md-7">
								<button id="filesInFolder" class="filter-button" multiple ngf-select="uploadFiles($files)"
								           ngf-max-height="1000" ngf-max-size="200MB">
								      Select Files</button>
								 	Uploading on server:							
									<span class="progress" ng-show="progress >= 0">
								    	<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
								    </span>

								{{vCoPErrorMsg}}
								<input type="hidden" ng-model="formData.vCoPFile" />
							 </div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="startDate">Initial date <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<script>
									  $(function() {
									    $( "#startDate" ).datepicker();
									  });
									  </script>
									<input type="text" id="startDate" class="form-control" ng-model="formData.startDate"></input>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="endDate">Final date <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									 <script>
									  $(function() {
									    $( "#endDate" ).datepicker();
									  });
									  </script>
									<input type="text" id="endDate" class="form-control" ng-model="formData.endDate"></input>
								</div>
							</div>
						</div>	
						
						<!--div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="endDate">Day increment <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
								<form onsubmit="return false" oninput="level.value = flevel.valueAsNumber">
									  <input name="flevel" id="slider" type="range" min="0" max="100" value="0"> 
  									  <output for="slider" name="level">0</output>
  								</form>
								</div>
							</div>
						</div-->
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="useTextualComplexity">Use textual complexity <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
		                        <div class="input-group">
									<select id="useTextualComplexity" class="form-control" ng-model="formData.useTextualComplexity" ng-options="option.name for option in textualComplexityOptions track by option.id"></select>
								</div>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="monthIncrement">Month increment <span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<input id="monthIncrement" class="form-control" type="number" step="1" min="0" max="12" ng-model="formData.monthIncrement" />
								</div>
							</div>
						</div>
						
						<div class="row top-buffer">
							<div class="col-xs-3 col-md-3">
								<label for="dayIncrement">Day increment<span class="required">*</span></label>
							</div>
							<div class="col-xs-9 col-md-9">
								<div class="input-group">
									<input id="dayIncrement" class="form-control" type="number" step="1" min="0" max="30" ng-model="formData.dayIncrement" />
								</div>
							</div>
						</div>
						
						<div class="row top-buffer" ng-if="!loading">
							<div class="col-xs-12 col-md-12">
								<div class="bottom-buttons">
									<button class="filter-button" ng-click="buttonClick('Community')">View Community</button>
								</div>
							</div>
						</div>        
						
					</div>
					<div id="results">
					
						<div class="row" ng-if="loading">
							<div class="col-xs-12 col-md-12">
								<img src="img/loading.gif" alt="Loading..." />
							</div>
						</div>
						
						<div ng-if="showCommunityGraph" class="row top-buffer">
				        	<div class="col-xs-12 col-md-12">
								<h4>Global Community view</h4>
							</div>
							<div class="col-xs-12 col-md-12">
								<svg id="communityGraph" width="200%" height="800"></svg>
							</div>
				        </div>

				        <div ng-if="showCommunityInATimeFrameGraph" class="row top-buffer">
				        	<div class="col-xs-12 col-md-12">
								<h4>Community from start date to end date</h4>
							</div>
							<div class="col-xs-12 col-md-12">
								<svg id="communityInATimeFrameGraph" width="200%" height="800"></svg>
							</div>
				        </div>
				        
				        <div ng-if="showCommunityInTimeGraph" class="row top-buffer">
				        	<div class="col-xs-12 col-md-12">
								<h4>Participant evolution</h4>
							</div>
							<div class="col-xs-12 col-md-12">
								<div ng-repeat="(key, value) in communityInTimeList" id="communityInTimeGraph{{key}}" width="500%" height="800"></div>
							</div>
				        </div>
				        
					</div>
			    </div>
				<!-- <action-box></action-box> -->
			</div>
		</div>
	</div>