<div class="row">
  <div class="page-wrapper">
    <!-- <search-box></search-box> -->
    <div id="page">
      <app-header></app-header>
      <div class="content-wrapper">
        <app-carousel></app-carousel>
        <div class="container">
          <div class="row top-buffer">
            <app-demo-menu></app-demo-menu>
          </div>
        </div>
        <div class="container">
          <div class="section-header">
            <h1>Computer Supported Collaborative Learning</h1>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="input">
              <div class="row">
                <div class="col-xs-3 col-md-3">
                  <label for="file">CSCL file <span class="required">*</span><br /><small>(only XML files allowed)</small></label>
                </div>
                <div class="col-xs-4 col-md-4">
                  <input id="file" class="btn theme-btn-1" type="file" (change)="fileChange($event)" placeholder="Upload file"
                    accept=".xml" valie="Select File: " />
                  File:
                  <small>{{uploadedFileName}}
                    <span class="progress" ng-show="csclFile.progress >= 0">
                      <!-- <div style="width:{{csclFile.progress}}%" ng-bind="csclFile.progress + '%'"></div> -->
                    </span>
                  </small>
                  {{csclErrorMsg}}
                  <input type="hidden" ng-model="formData.csclFile" />
                </div>
                <div class="col-xs-3 col-md-3">
                  <a href="{{sampleFileUrl}}" target="_blank">Sample CSCL file</a>
                </div>
              </div>
              <app-demo-common-fields [formData]="formData" [language]="language" [languages]="languages"
                (advancedEmitter)="advancedEmitter($event)" (languageEmitter)="languageEmitter($event)"></app-demo-common-fields>
              <div class="row top-buffer" *ngIf="!loading">
                <div class="col-xs-12 col-md-12">
                  <div class="bottom-buttons" *ngIf="!loading">
                    <button class="btn theme-btn-1" (click)="process()">
                      <span class="button">Process</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="results">
              <div class="row" *ngIf="loading">
                <div class="col-xs-12 col-md-12">
                  <img src="../../../../assets/img/loading.gif" alt="Loading..." />
                </div>
              </div>
              <div *ngIf="showResults === true">
                <!-- <div class="col-xs-12 col-md-3">
                  <h4>Participant Interaction</h4>
                  <ul class="course-description-list">
                    <li class="lesson" *ngFor="let participant of participants">
                      <div class="heading">
                        <span class="lesson-nr no-select"></span>
                      </div>
                      <div class="body">
                        <p>{{participant.displayName}}</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-md-9" id="participantInteractionMap"></div> -->

                <div class="col-xs-12 col-md-12">
                  <h4>CSCL Indices</h4>
                  <table class="cscl-indices">
                    <tbody>
                      <tr class="entry" *ngFor="let csclIndex of csclIndices | keyvalue">
                        <td class="participant">{{csclIndex.key}}</td>
                        <td class="value" *ngFor="let csclIndexInner of csclIndex.value | keyvalue">
                          {{csclIndexInner.value}}
                        </td>
                      </tr>
                    </tbody>
                    <thead>
                      <tr class="entry" *ngFor="let csclIndex of csclIndices | keyvalue; first as isFirst">
                        <ng-container *ngIf="isFirst">
                          <td class="participant">Participant</td>
                          <td class="value" *ngFor="let csclIndexInner of csclIndex.value | keyvalue">
                            {{csclIndexInner.key}}
                          </td>
                        </ng-container>
                      </tr>
                    </thead>
                  </table>
                </div>
                <div class="col-xs-12 col-md-12">
                  <h5>CSCL Indices Description</h5>
                  <ul class="course-description-list">
                    <li class="lesson cscl-indices-description" *ngFor="let csclIndexDescription of csclIndicesDescription | keyvalue">
                      <div class="heading">
                        <span class="lesson-nr no-select">{{csclIndexDescription.key}}</span>
                      </div>
                      <div class="body">
                        <p>{{csclIndexDescription.value}}</p>
                      </div>
                    </li>
                  </ul>
                </div>

                <!-- <div class="col-xs-12 col-md-12">
                  <h4>Participant evolution</h4>
                </div>
                <div class="col-xs-12 col-md-12">
                  <svg id="participantEvolution" width="100%" height="300"></svg>
                </div> -->

                <!-- <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <h4>Collaboration - Social Knowledge Building</h4>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <svg id="collaborationSocialKB" width="100%" height="300"></svg>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <h4>Collaboration - Voice Overlap</h4>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <svg id="collaborationVoiceOverlap" width="100%" height="300"></svg>
                  </div>
                </div> -->

                <div class="col-xs-12 col-md-3">
                  <h4>Concept Map</h4>
                  <ul class="course-description-list">
                    <li class="lesson" *ngFor="let topic of conceptMap.nodeList">
                      <div class="heading">
                        <span class="lesson-nr no-select">{{topic.degree | number}}</span>
                      </div>
                      <div class="body">
                        <p>{{topic.uri}}</p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12 col-md-9">
                  <two-mode-graph [graph]="conceptMap"></two-mode-graph>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
