<div class="modal-header">
    <button type="button" class="close close-modal" aria-hidden="true" ng-click="close();">&times;</button>
    <h2 class="modal-title" translate="modals.change_language.title"></h2>
    <hr class="separator">
</div>
<div class="modal-body">
    <ul class="list-unstyled col-xs-12 col-md-12 modal-list">
        <li class="col-xs-6 col-md-6">
            <input id="r1" type="radio" name="language" ng-model="language" value="en">
            <label for="r1" ng-click="changeLanguage('en');">
                <span translate="modals.change_language.en"></span>
            </label>
        </li>
        <li class="col-xs-6 col-md-6">
            <input id="r2" type="radio" name="language" ng-model="language" value="ro">
            <label for="r2" ng-click="changeLanguage('ro');">
                <span translate="modals.change_language.ro"></span>
            </label>
        </li>
    </ul>
</div>
