<div class="modal-header">
    <button type="button" class="close close-modal" aria-hidden="true" ng-click="close();">&times;</button>
    <h2 class="modal-title" translate="modals.feedback.title"></h2>
    <hr class="separator">
</div>
<div class="modal-body">
    <textarea
        name="feedback"
        focus="feedback"
        class="feedback-form form-control"
        ng-model="form.feedback"
    ></textarea>
    <button
        class="btn btn-success btn-block addbtn add-more"
        translate="modals.feedback.send"
        ng-click="submit();"
    ></button>
</div>
