<div class="page-wrapper" ng-controller="DemoController">
    <search-box></search-box>
    <div id="page">
        <reader-header></reader-header>
        <!-- Main Content -->
        <div class="content-wrapper">
            <carousel-section></carousel-section>
            <!-- Main Content -->
            <div class="container">
                <div class="section-header">
                    <h1>Demonstration</h1>
                </div>
                <!--<demo-menu></demo-menu>-->
            </div>
            <div class="content-wrapper">
                <!-- <action-box></action-box> -->
                <demo-section></demo-section>
            </div>
        </div>
    </div>
</div>