<div class="row">
  <div class="page-wrapper">
    <!-- <search-box></search-box> -->
    <div id="page">
      <app-header></app-header>
      <div class="content-wrapper">
        <app-carousel></app-carousel>
        <div class="container">
          <div class="row top-buffer">
            <app-demo-menu></app-demo-menu>
          </div>
        </div>
        <div class="container">
          <div class="section-header">
            <h1>Semantic Diff</h1>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="input">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <label for="input_text">Text
                    <span class="required">*</span>
                  </label>
                </div>
                <div class="col-xs-10 col-md-10 col-lg-10">
                  <textarea id="input_text" class="form-control" [(ngModel)]="formData.text" rows="12"></textarea>
                </div>
                <div class="col-xs-2 col-md-2">
                  <div class="bottom-buttons">
                    <button class="btn theme-btn-1" (click)="openDlg()">
                      <span class="button">Test Diff</span>
                    </button>
                  </div>
                </div>
                <div class="col-xs-2 col-md-2">
                  <div class="bottom-buttons">
                    <button class="btn theme-btn-1" id="putText1" (click)="precisionTestMode()">
                      <span class="button">Precision Mode</span>
                    </button>
                  </div>
                </div>
              </div>
              <app-demo-sem-diff-common-fields [formData]="formData" [language]="language" (advancedEmitter)="advancedEmitter($event)" (languageEmitter)="languageEmitter($event)"></app-demo-sem-diff-common-fields>
              <div class="row top-buffer" *ngIf="!loading">
                <div class="col-xs-12 col-md-12">
                  <div class="bottom-buttons" *ngIf="!loading">
                    <button class="btn theme-btn-1" (click)="process()">
                      <span class="button">Process</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="results">
              <div class="row" *ngIf="loading">
                <div class="col-xs-12 col-md-12">
                  <img src="../../../../assets/img/loading.gif" alt="Loading..." />
                </div>
              </div>
              <div *ngIf="showResults === true">
                <div id="diffThingy">
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-12 col-lg-12">
                    <ul class="course-description-list">
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">Results</span>
                        </div>
                        <div class="body">&nbsp;</div>
                        <p>Baza de date este: {{!!dataResponse[0].isDatabaseOnline ? "online" : "offline"}}</p>
                        <ul class="lesson-description visible" style="display: block;">
                          <li *ngFor="let data of dataResponse">
                              <div class="body">
                                <p>Timpul de procesare este: {{data.timeToProcess}} secunde</p>
                              </div>
                            <div class="heading">
                              <span class="lesson-nr no-select">{{data.cosineSimilarity | number : '1.2-2' }}</span>
                            </div>
                            <div class="body">
                              <p>{{data.originalText}}</p>
                            </div>
                            <div class="body">
                              <p>{{data.text}}</p>
                            </div>
                            <!-- The diff text -->
                            <div class="body corpus_diff_text">
                                <p>
                                  <mark *ngFor="let dataMark of data.diffTextDTO" class="{{dataMark.typeOfElement}}">
                                        {{dataMark.text}}
                                        <span class="semantic_diff_tooltiptext tooltip-top">{{dataMark.explication}}</span>
                                  </mark>
                                </p>
                            </div>
                            <hr class="bottom_border">
                          </li>
                        </ul>
                      </li>
                    </ul>
                   </div>
                </div>
                <div id="message_saved" style="display:none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalDlg === true">
  <div id="modalDiffTest" class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" (click)="modalButtonClose()">&times;</button>
          <h3 class="modal-title">Verifica modulul Diff</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6 col-md-6 col-lg-6">
            <label for="input_text_DiffTest1">Text 1
              <span class="required">*</span>
            </label>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6">
            <label for="input_text_DiffTest2">Text 2
              <span class="required">*</span>
            </label>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6">
            <textarea id="input_text_DiffTest1" class="form-control" [(ngModel)]="modalData.modalText1" rows="5"></textarea>
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6">
            <textarea id="input_text_DiffTest2" class="form-control" [(ngModel)]="modalData.modalText2" rows="5"></textarea>
          </div>
        </div> 
        <div class="row top-buffer">
          <div class="col-xs-12 col-md-12">
            <a (click)="toggleAdvancedModal()" class="pointer">
              <span *ngIf="!advancedModal">&#x25BC; Show</span>
              <span *ngIf="advancedModal">&#x25B2; Hide</span>
              advanced options
            </a>
          </div>
        </div>
        <div class="row top-buffer" *ngIf="advancedModal">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <input type="checkbox" id="input_DiffTest_preposition" [checked]="modalData['preposition']" (change)="modalData['preposition'] = !modalData['preposition']"  />
            <label for="input_DiffTest_preposition">Preposition
              <span class="required">*</span>
            </label>
          </div>
        </div>
        <div class="row top-buffer" *ngIf="advancedModal">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <input type="checkbox" id="input_DiffTest_interjection" [checked]="modalData['interjection']" (change)="modalData['interjection'] = !modalData['interjection']"  />
            <label for="input_DiffTest_interjection">Interjection
              <span class="required">*</span>
            </label>
          </div>
        </div>
        <div class="row top-buffer" *ngIf="advancedModal">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <input type="checkbox" id="input_DiffTest_conjunction" [checked]="modalData['conjunction']" (change)="modalData['conjunction'] = !modalData['conjunction']"  />
            <label for="input_DiffTest_conjunction">Conjuction
              <span class="required">*</span>
            </label>
          </div>
        </div>
        <div class="row top-buffer" *ngIf="advancedModal">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <input type="checkbox" id="input_DiffTest_pronoun" [checked]="modalData['pronoun']" (change)="modalData['pronoun'] = !modalData['pronoun']"  />
            <label for="input_DiffTest_pronoun">Pronoun
              <span class="required">*</span>
            </label>
          </div>
        </div>
        <div class="row top-buffer" *ngIf="advancedModal">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <input type="checkbox" id="input_DiffTest_ner" [checked]="modalData['ner']" (change)="modalData['ner'] = !modalData['ner']"  />
            <label for="input_DiffTest_ner">Named Entity Recognition
              <span class="required">*</span>
            </label>
          </div>
        </div>
        <div class="row top-buffer" *ngIf="advancedModal">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <input type="checkbox" id="input_DiffTest_verbose" [checked]="modalData['verbose']" (change)="modalData['verbose'] = !modalData['verbose']"  />
            <label for="input_DiffTest_verbose">Verbose
              <span class="required">*</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row top-buffer" *ngIf="advancedModal">
        <div class="col-xs-2 col-md-2 col-lg-2">
            <label for="input_DiffTest_window_size">Window size
              <span class="required">*</span>
            </label>
          </div>
          <div class="col-xs-3 col-md-3 col-lg-3">
          <select id="input_DiffTest_window_size" class="form-control" [(ngModel)]="modalData.window_size">
            <option *ngFor="let option of window_sizeModal" [ngValue]="option">{{option.name}}</option>
          </select>
        </div>
      </div>
       
      <div id="resultsModal">
        <div *ngIf="showResultsModal === true">
          <div id="diffThingyModal">
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <ul class="course-description-list">
                <li class="lesson">
                  <div class="heading">
                    <span class="lesson-nr no-select">Results</span>
                  </div>
                  <div class="body">&nbsp;</div>
                  <ul class="lesson-description visible" style="display: block;">
                    <li>
                        <div class="body">
                          <p>Timpul de procesare este: {{dataResponseModal.timeToProcess}} secunde</p>
                        </div>
                        <div class="body">
                          <p>{{dataResponseModal.modalText1}}</p>
                        </div>
                        <div class="body">
                          <p>{{dataResponseModal.modalText2}}</p>
                        </div>
                      <!-- The diff text -->
                      <div class="body corpus_diff_text">
                          <p>
                            <mark *ngFor="let dataMark of dataResponseModal.diffTextDTO" class="{{dataMark.typeOfElement}}">
                                  {{dataMark.text}}
                                  <span class="semantic_diff_tooltiptext tooltip-top">{{dataMark.explication}}</span>
                            </mark>
                          </p>
                      </div>
                      <hr class="bottom_border">
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <div class="modal-footer">
        <div class="row top-buffer" *ngIf="!loadingModal">
            <div class="col-xs-12 col-md-12">
              <div class="bottom-buttons" *ngIf="!loadingModal">
                <button class="btn theme-btn-1" (click)="modalButtonOK()">
                  <span class="button">Process Diff</span>
                </button>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>