
<div class="container">
    <div class="row wrap-auth" ng-class="{shake: errorSubmission}">
        <div class="alert error" ng-show="auth.errorMsg">{{auth.errorMsg}}</div>
        <div class="opacity"></div>
        <form
            class="form-signin mg-btm"
            name="auth.form"
            role="form"
            novalidate
            ng-submit="submit()"
        >
            <h3 class="heading-desc" translate="auth.form.signup.title"></h3>
            <div class="main">
                <input
                    type="text"
                    class="form-control"
                    placeholder="{{ 'auth.form.placeholder.name' | translate }}"
                    autofocus
                    name="name"
                    focus="name"
                    ng-model="user.name" required minlength="2"
                >
                <input
                    type="text"
                    class="form-control"
                    placeholder="{{ 'auth.form.placeholder.email' | translate }}"
                    name="email"
                    focus="email"
                    ng-model="user.email"
                    required
                    ng-pattern="user.emailRegexp"
                >
                <input
                    type="password"
                    class="form-control"
                    placeholder="{{ 'auth.form.placeholder.password' | translate }}"
                    name="password"
                    focus="password"
                    ng-model="user.password"
                    required
                    minlength="3"
                >

                <span class="clearfix"></span>
                <button type="submit" class="btn btn-large btn-success big-btn" translate="auth.form.signup.submit"></button>
            </div>
            <div class="login-footer">
                <a class="auth-anchor" href="auth/login" translate="auth.form.signup.has_account"></a>
<!--                 <a class="auth-anchor" href="/auth/business" translate="auth.form.signup.business"></a> -->
            </div>
      </form>
    </div>
</div>
