.content {
  float: right;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
}
.box {
  width: 100%;
  display: inline-block;
}
.box-name {
  margin: 40px 0;
  line-height: 3.3rem;
  text-align: center;
  font-weight: 300;
  font-size: 2.8rem;
}
.box > .separator {
  width: 15%;
}
.wrap-dashboard {
  width: 100%;
}
.thumbnail {
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 40px;
  box-shadow: 0 0px 3px rgba(0,0,0,.3);
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  min-height: 144px;
}
.thumbnail:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.box-items {
  display: flex;
  justify-content: center;
  float: none;
  flex-wrap: wrap;
}
.box-star {
  padding: 0;
  margin-bottom: 40px;
}
.card-name {
  padding: 15px 20px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  font-weight: 300;
  font-size: 20px;
}
.card-name h3 {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}
.card-details {
  padding: 15px 20px;
  font-size: 1.3rem;
}
.card-details p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3rem;
}
.close-button {
  position: absolute;
  display: table;
  right: 20px;
  top: 5px;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}
.close-button > .fa-trash-o {
  display: table-cell;
  vertical-align: middle;
  color: rgba(205, 205, 205, 0.85);
  font-size: 20px;
}
.close-button:hover .fa-trash-o {
  color: rgba(0,0,0,.3);
}
.close-button > .fa-eye-slash {
  color: rgba(205, 205, 205, 0.94);
  display: block;
  font-size: 15px;
}
.close-button:hover > .fa-eye-slash {
  color: rgba(0, 0, 0, 0.46);
}
.card:hover .close-button {
  visibility: visible;
}
.card-name .avatar {
  margin: 0 auto 5px;
}
.card-name .status-name {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;  ;
  line-height: 0;
}
.card-name .status-name h3 {
  margin-left: 5px;
  color: rgb(51, 51, 51);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.msg-starred {
  padding: 5px 15px;
}
.msg-starred:hover {
  background: rgba(236, 235, 235, 0.17);
}
.msg-starred .txt-msg {
  padding: 0 19px 0 5px;
}
.msg-starred .msg-realtime {
  padding: 0;
  visibility: visible;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  display: flex;
}
.msg-starred .fa-star {
  color: orange;
  font-size: 20px;
  margin-right: 10px;
  padding: 0;
}
.msg-starred .star-user {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;  
  white-space: nowrap;
  text-overflow: ellipsis;  
  padding: 0;
}
.msg-starred .star-user span {
  overflow: hidden;  
  white-space: nowrap;
  text-overflow: ellipsis;  
  padding: 0;
}
.msg-starred .time,
.fa-star {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.msg-starred .time {
  color: #757575;
}
.delete-msg {
  position: absolute;
  font-size: 18px;
  right: 15px;
  top: 2px;
  cursor: pointer;
  color: rgba(205, 205, 205, 0.85)!important;
  visibility: hidden;
}
.msg-starred:hover .delete-msg {
  visibility: visible;
}
.delete-msg:hover {
    color: rgba(0,0,0,.3)!important;
  
}
.no-rooms {
  text-align: center;
  padding: 15px;
  margin: 0 0 40px;
}
.no-rooms h2 {
  margin: 0 0 20px 0px;
  font-weight: 300;
}
.no-rooms .btn {
  font-size: 22px;
}
@media only screen and (min-width: 320px) and (max-width:480px) {
  .card {
    width: 90%;
  }
}
@media only screen and (min-width: 320px) and (max-width:600px) {
  .content {
    width: 100%;
  }
}
@media only screen and (min-width: 320px) and (max-width:720px) {
  .box-name {
    margin: 20px 0;
    line-height: 3rem;
    font-size: 25px;
  }
  .card-name {
    font-size: 19px;
    padding: 10px 20px;
  }
  .card-name h3 {
    font-size: 19px;
  }
  .card-details {
    padding: 10px 20px;
    font-size: 1.1rem;
  }
}