.header {
  top: 0px;
  position: fixed;
}
.header {
  z-index: 2;
  /* border-bottom: 1px solid rgba(221, 221, 221, 0.36); */
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.chatroom-header {
  /* background: #fff; */
  background: transparent;
  display: flex;
  margin: auto;
  right: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0px 15px;
  /* background: #404040; */
}

.room-info {
  font-size: 1.8rem;
  font-weight: 600;
  width: 30%;
}

.room-info li {
  position: relative;
  display: inline-block;
  /* vertical-align: middle; */
}

.room-info li a {
  padding: 7px 10px;
  color: #333;
  line-height: 0;
}
.room-info li a:hover {
    color: #2a80b9;
}
.room {
  max-width: 300px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-left: 0!important;
  padding-right: 0!important;
  font-weight: 300;
  cursor: pointer;
  color: #333;
}
.room-info li:first-child.active .menu-conversation {
  visibility: visible!important;
  opacity: 1!important;
} 
.room-name {
  display: inline-block;
  line-height: normal;
}
.room-name:after {
  content: "\f107";
  font-family: FontAwesome;
  font-weight: 100;
  font-size: 1.7rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.room-info .fa-circle {
  font-size: 11px;
  vertical-align: middle;
}

.nav-tools {
  width: 75%;
  text-align: right;
}
.nav-tools li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.menu-btn {
  padding: 5px 10px;
  border-radius: 5px;
  /* border: 1px solid rgb(190, 187, 187); */
  cursor: pointer;
  /* min-width: 30px; */
  color: #333;
  text-align: center;
  transition: all .2s ease-in;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.4rem;
}
.menu-btn:hover {
  /* background: #f1f7fa; */
  color: #2a80b9;
  /* border: 1px solid rgb(190, 187, 187); */
}
#menu-list .fa-caret-down {
  display: none;
}
.menu-conversation a {
  line-height: normal!important;
}
.menu-area {
  position: absolute;
  top: 38px;
  padding: 10px;
  right: -7px;
  min-width: 210px;
  max-width: 350px;
  max-height: 250px;
  color: #555459;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size: .95rem;
  border: 1px solid #ccc;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.menu-conversation {
  top: 35px;
  right: -165px;
}
.menu-conversation .caret-up:before  {
   left: 25px;
}
.menu-conversation .caret-up:after  {
  left: 26px;
}
#menu-list.active .menu-area {
  visibility: visible!important;
  opacity: 1!important;
}
.actions li {
  display: block;
  border: none;
  padding: 0;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
}
.act {
  font-size: 1.3rem;
  color: #555459!important;
  font-weight: 400;
  display: block;
  padding: 6px 10px!important;
}

.actions li:hover,
.actions li:first-child:hover {
  background: #F9F9F9;
}

.act:before {
  font-family: FontAwesome;
  font-size: 17px;
  font-weight: 100;
  padding-right: 20px;
  -webkit-filter: grayscale(1);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: grayscale(1);
  vertical-align: middle;
  color: gray;
}
.my-profile:before {
  font-family: 'icomoon';
  content: "\e604";
  font-size: 16px;
}
.actions li:hover .my-profile::before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  color: rgb(5, 173, 5);
  filter: none;
}
.ch-lang:before {
  content: "\f0ac";
}
.actions li:hover .ch-lang:before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  color: #5D3ED6;
}
.stared-items:before {
  content: "\f005";
}
.actions li:hover .stared-items:before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  color: orange;
}
.recent:before {
  content: "@";
  font-weight: 700;
}
.actions li:hover .recent:before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  color: #eb4d5c;
}
.feedback:before {
  content: "\e60b";
  font-family: 'icomoon';
  font-size: 16px;
}
.actions li:hover .feedback:before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  color: #06A9E9;
}
.logout:before {
  content: "\f011";
  font-size: 16px;
}
.actions li:hover .logout:before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  color: rgb(242, 18, 18);
}
.export:before {
  content: "\f019";
  font-size: 16px;
}
.actions li:hover .export:before {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  filter: none;
  color: #428bca;
}
@media only screen and (min-width: 320px) and (max-width:720px) {
  #menu-list .fa-caret-down {
    display: block;
    font-size: 1.6rem;
  }
  #menu-list .fa-bars {
    display: none;
  }
  .room-info li a {
    padding: 6px 7px;
  }
  .search {
    /* border-radius: 5px; */
    font-size: 1.3rem;
    padding: 2px 10px 2px 18px;
    /* outline: 0; */
    /* width: 125px; */
    line-height: 21px;
  }
  .fa-search {
    /* left: 5px; */
    top: 0px;
    /* font-size: 11px; */
  }
  .room {
    max-width: 100px;
  }
  .menu-area {
    padding: 10px;
    min-width: 180px;
  }
  .menu-conversation {
    right: -136px;
  }
  .act {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 3px 5px!important;
  }
}