#sidebar {
  /* background-color: #0072C6; */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #DEDEDE;
  position: fixed;
  padding-left: 0;
  top: 0;
  padding-right: 0;
  bottom: 0;
  display: flex;
  align-content: space-between;
  z-index: 30;
  background: #2e2e2e;  
  -webkit-box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.75); 
  -moz-box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.75); 
  box-shadow: inset -1px 1px 3px 0 rgba(0, 0, 0, 0.75);
}
.open-close {
  position: absolute;
  right: -50px;
  top: 5px;
  display: none; 
  background: transparent;
  border: none;
  margin: 0;
  padding: 10px 15px;
  min-width: 50px;
  outline: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.open-close:hover i {
  color: #2a80b9;
}
.open-close i {
  font-size: 1.4rem;
  color: #333;
  vertical-align: middle;
}
.sidebar-content {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 50px;
}
.category {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin: 5px 0px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  align-items: center;
  padding: 0px 8px;
  width: 100%;
}

.category span {
  width: 95%;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 20px;
}
.category a {
  font-size: 1.6rem;
  color: #DEDEDE;
  font-weight: 400;
  line-height: 1.6rem;
  outline: 0;
}
.search {
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.9rem;
  border: none;
  font-weight: 300;
  background: transparent;
  margin: 0;
  padding: 5px 25px 5px 8px;
  outline: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
   -webkit-transition: border linear .2s,box-shadow linear .2s; 
   -moz-transition: border linear .2s,box-shadow linear .2s; 
   transition: border linear .2s,box-shadow linear .2s; 
}
.search::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #DEDEDE;
  font-weight: 300;
}
.search::-moz-input-placeholder {
  font-size: 1.6rem;
  color: #DEDEDE;
  font-weight: 300;
}
.search:focus {
  /* border-color: #66afe9; */
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(83, 79, 79, 0.82);
  color: #fff;
}
.search:focus::-webkit-input-placeholder {
  color: #fff;
}
.search:focus::-moz-input-placeholder {
  color: #fff;
}
.fa-search {
  position: absolute;
  right: 9px;
  top: 5px;
  /* color: rgb(190, 187, 187)!important; */
  color: #666;
  font-size: 15px!important;
  padding: 0 0px 0 5px;
  cursor: pointer;
}
#search-area label:hover .fa-search {
  color: #333!important;
}
.icon-plus:before {
   content: "e603";
   font-family: 'icomoon';
   text-align: center;
}
 .category:hover, .category:hover .icon-plus, .category:hover .fa-home {
  color: #fff;
} 
.category:hover a {
  color: #fff!important;
}
.category .icon-plus, .fa-home, .fa-search {
  /* padding: 0px 5px 0 0; */
  color: #DEDEDE;
  line-height: 2rem;
  font-size: 2rem;
}
.fa-home {
  font-size: 1.9rem;
}
.channel-items li {
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  position: relative;
}

.channel-items li::before {
  content: "";
  width: 0px;
  height: 28px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-left: 3px solid rgb(222, 222, 222);
  display: block;
  visibility: hidden;
  
}

.channel-items li.active {
  /* background-color: #094AB2; */
  background-color: #3c3c3c;
}
.channel-items li.active::before {
  visibility: visible;
}
.channel-items li .icon-cross {
  visibility: hidden;
  color: #fff;
  padding: 0px 8px;
  font-size: larger;
}
.channel-items li .icon-cross:active {
  color: rgb(243, 14, 14);
}
.channel-items li:hover {
  background-color: #094AB2;
  background-color: #141414;
}
.channel-items li:hover .icon-cross {
  visibility: visible;
}
.channel-items li a {
  /* padding: 4px 0px; */
  padding: 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: #ab9ba9;
  color: #fafafa;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
  margin-right: 5px;
  outline: 0;
  text-decoration: none;
}
.channel-items li a .fa {
  font-size: 11px;
  padding: 0px;
}
.sidebar-groups {
  padding: 15px 0px;
  /* border-bottom: 1px solid rgba(9, 74, 178, 0.81); */
}
.no-padding {
  padding: 0;
}
.sidebar-groups label {
  /* padding: 0px 8px; */
  position: relative;
  width: 100%;
}
.sidebar-groups label:hover .fa-search {
  color: #fff;
}
#sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #094AB2;
  padding: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #141414;
}
.flex {
  display: flex!important;
  align-items: center;
  justify-content: space-between;
}
.center-container {
  padding: 0 5px;
  /* border-left: 1px solid rgba(11, 35, 74, 0.36); */
  /* border-right: 1px solid rgba(11, 35, 74, 0.36); */
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.username {
  font-weight: 300;
  width: 90%;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.status {
  display: flex;
  font-size: 13px;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.status .circle {
  margin-right: 5px;
}
.drop-img {
  font-size: 22px;
  font-weight: 700;
  color: #DDD;
  position: relative;
  padding-left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}

#sidebar-footer:hover .drop-img {
  color: #fff;
}
.menu-sts {
  position: absolute;
  padding: 10px 0px;
  top: -81px;
  right: -14px;
  background: #fff;
  min-width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
.drop-img:hover .menu-sts {
  visibility: visible;
  opacity: 1;
}

.menu-sts li {
  padding: 0px 15px;
  line-height: 2rem;
}

.menu-sts li:hover .sts,
.msg-options li:hover {
  text-decoration: underline;
  color: #333;
}

.menu-sts li span,
.menu-sts li .circle {
  vertical-align: middle;
}

.menu-sts li span {
  font-size: 1.2rem;
  color: #333;
  letter-spacing: -.5px;
  padding-left: 5px;
  font-family: 'Open Sans';
}
@media only screen and (min-width: 320px) and (max-width:720px) {
/*   .username {
    font-size: 1.3rem;
  } */
  #sidebar {
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    transform: translate(-100%);
    width: 225px;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
  }
  #sidebar.show {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
  }
  #sidebar.show .fa-bars {
    display: none;
  }
  #sidebar.show .icon-cross {
    display: block;
  
    font-size: 17px;
}
  .chatroom-header {
    width: 85%;
  }
  #chatroom {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .open-close {
    display: block;
  }
  .open-close .icon-cross {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width:720px) {
/*   .category, .category a, .search::-webkit-input-placeholder {
    font-size: 1.3rem;
  }
  .channel-items li::before {
  height: 23px;
  }
  .channel-items li a {
    font-size: 1.1rem;
  }
  .flex {
    width: 100%;
  }
  .username {
    font-size: 12px;
  } */
}
