<div class="row">
  <div class="page-wrapper">
    <!-- <search-box></search-box> -->
    <div id="page">
      <app-header></app-header>
      <div class="content-wrapper">
        <app-carousel></app-carousel>
        <div class="container">
          <div class="row top-buffer">
            <app-demo-menu></app-demo-menu>
          </div>
        </div>
        <div class="container">
          <div class="section-header">
            <h1>Automated Model of Comprehension (AMoC)</h1>
          </div>
        </div>
        <div class="container">
          <div class="row" *ngIf="isLoading">
            <div class="col-xs-12 col-md-12">
              <img src="../../../../assets/img/loading.gif" alt="Loading..." />
            </div>
          </div>
          <div *ngIf="!isLoading">
            <div class="row">
              <div class="col-xs-4">
                <label>Phrase </label>
              </div>
              <div class="col-xs-8">
                <textarea class="form-control" rows="5" [(ngModel)]="searchText" [ngClass]="{error: incorrectSearchText}">
                      </textarea>
                <label class="error" *ngIf="incorrectSearchText">Enter a text up to {{ maxSearchTextLength }} characters</label>
              </div>
            </div>

            <div class="row top-buffer">
              <div class="col-xs-4">
                <label>Minimum Activation Threshold </label>
              </div>
              <div class="col-xs-4">
                <input type="number" class="form-control" [(ngModel)]="minActivationThreshold" [ngClass]="{error: incorrectMinActivationThreshold}"
                />
                <label class="error" *ngIf="incorrectMinActivationThreshold">Enter a value from 0 to 1</label>
              </div>
            </div>

            <div class="row top-buffer">
              <div class="col-xs-4">
                <label>Max number of semantically related concepts </label>
              </div>
              <div class="col-xs-4">
                <input type="number" class="form-control" [(ngModel)]="maxSemanticExpand" [ngClass]="{error: incorrectMaxSemanticExpand}"
                />
                <label class="error" *ngIf="incorrectMaxSemanticExpand">Enter a positive integer value</label>
              </div>
            </div>

            <div class="row top-buffer">
              <div class="col-xs-12 col-md-12">
                <div class="bottom-buttons">
                  <button class="filter-button" (click)="runCiModel()">Run AMoC</button>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="!isLoading">
              <div class="col-xs-12 demo-menu">
                <nav>
                  <ul>
                    <li *ngFor="let tab of tabs">
                      <a class="btn" [ngClass]="{'current': tab.selected}" (click)="selectTab(tab)">
                        <span>
                          {{ tab.title }}
                        </span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>


            <div class="row" *ngIf="!isLoading && selectedTab">
              <div class="col-xs-12" *ngIf="selectedTab.isHitmap()">
                <word-hitmap [wordList]="wordList"></word-hitmap>
              </div>
              <div class="col-xs-12" *ngIf="selectedTab.isSentence()">
                <div class="row">
                  <div class="col-xs-12">
                    <p> {{ selectedTab.sentence.text }} </p>
                  </div>
                  <div class="col-xs-12">
                    <two-mode-graph [graph]="selectedTab.sentence.graph"></two-mode-graph>
                  </div>
                </div>
              </div>
              <div class="col-xs-12" *ngIf="selectedTab.isScoresTable()">
                <br>
                <cm-scores-table [cmResult]="cmResult"></cm-scores-table>
              </div>
              <div class="col-xs-12" *ngIf="selectedTab.isLandcapeModel()">
                <landscape-model [wordList]="wordList"></landscape-model>
              </div>
              <div class="col-xs-12" *ngIf="selectedTab.isAMoCModel()">
                <edge-bundling-diagram [index]="sentencesNumber"></edge-bundling-diagram>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
