<section class="section-courses-preview">
	<div class="container">
		<div class="section-header">
			<h1>Browse</h1>
		</div>
	</div>
<div class="container">
	<div class="browse-selections">
		<div class="col-md-6 no-margin browse-section">
			<div class="course-preview design">
				<div class="course-wrapper">
					<span class="bg"></span> <a href="demo" class="description">
						<h4 class="title">Live Demo</h4>
						<p>See the live demonstration of the ReaderBench application.</p>
					</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 no-margin browse-section">
			<div class="course-preview business">
				<div class="course-wrapper">
					<span class="bg"></span> <a href="people" class="description">
						<h4 class="title">People</h4>
						<p>Meet up the people who worked on the application.</p>
					</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 no-margin browse-section">
			<div class="course-preview health">
				<div class="course-wrapper">
					<span class="bg"></span> <a href="projects" class="description">
						<h4 class="title">Projects</h4>
						<p>Check the projects regarding the ReaderBench application.</p>
					</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 no-margin browse-section">
			<div class="course-preview hospitality">
				<div class="course-wrapper">
					<span class="bg"></span> <a href="publications" class="description">
						<h4 class="title">Publications</h4>
						<p>See the publications done by the ReaderBench's people.</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>