<section class="section-hero">
<div class="homepage-hero-module">
    <div class="header-container">
        <div class="title-container">
            <div class="headline">
                		<h1 class="heading slider-component">ReaderBench</h1>

            </div>
            <div class="description">
                <div class="inner">
						<a href="#/demo"
							class="slider-component second-row btn theme-btn-1"> <span
							class="button">Live Demo</span>
						</a></div>
            </div>
        </div>
    </div>
</div>
</section>