<div class="container">
	<div class="section-header">
		<h1>Contact us</h1>
	</div>
</div>
<div class="content-wrapper" ng-controller="ContactController">
	<div class="form-group demo-wrapper">
		<div class="input">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<p>In order to contact us, please send us a message using the following form.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3">
					<label for="name">Your name <span class="required">*</span></label>
				</div>
				<div class="col-xs-9 col-md-9">
					<div class="input-group">
						<input id="name" type="text" class="form-control" ng-model="formData.name" />
					</div>
				</div>
			</div>
	
			<div class="row top-buffer">
				<div class="col-xs-3 col-md-3">
					<label for="email">Your e-mail <span class="required">*</span></label>
				</div>
				<div class="col-xs-9 col-md-9">
					<div class="input-group">
						<input id="email" type="text" class="form-control" ng-model="formData.email" />
					</div>
				</div>
			</div>
	
			<div class="row top-buffer">
				<div class="col-xs-3 col-md-3">
					<label for="subject">Subject <span class="required">*</span></label>
				</div>
				<div class="col-xs-9 col-md-9">
					<div class="input-group">
						<input id="subject" type="text" class="form-control" ng-model="formData.subject" />
					</div>
				</div>
			</div>
	
			<div class="row top-buffer">
				<div class="col-xs-3 col-md-3">
					<label for="message">Message <span class="required">*</span></label>
				</div>
				<div class="col-xs-9 col-md-9">
					<textarea id="message" class="form-control" ng-model="formData.message" rows="10"></textarea>
				</div>
			</div>
	
		</div>
		<div class="row top-buffer" ng-if="!loading">
			<div class="col-xs-12 col-md-12">
				<div class="bottom-buttons">
					<button class="filter-button">
						<span class="button" ng-click="sendMessage()">Send message</span>
					</button>
				</div>
			</div>
		</div>
		<div id="results">
			<div class="row" ng-if="loading">
				<div class="col-xs-12 col-md-12">
					<img src="img/loading.gif" alt="Loading..." />
				</div>
			</div>
			<div ng-if="showResponse">
				<div ng-if="showSuccess" class="row top-buffer alert alert-success">{{message}}</div>
				<div ng-if="showError" class="row top-buffer alert alert-danger">
					{{message}}</div>
			</div>
		</div>
	</div>
</div>
