<section class="section-contact">
	<div class="contact-info-wrapper">
		<div class="container">
			<div class="section-header">
				<h1>Contact Us</h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="contacts-wrapper">
					<form class="contact-form">
						<label> <input type="text" class="form-input js-input"
							name="username" /> <span>Your name</span>
						</label> <label> <input type="text" class="form-input js-input"
							name="email" /> <span>E-mail address</span>
						</label> <label> <input type="text" class="form-input js-input"
							name="subject" /> <span>Subject</span>
						</label> <label> <textarea class="form-input js-input"
								name="message"></textarea> <span>Message</span>
						</label>

						<button class="btn theme-btn-1">
							<span class="button">Send message</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row contacts-wrapper">

		<div class="col-sm-6">
			<div class="contact-info-block has-icon"></div>
		</div>

		<div class="col-sm-6">
			<div class="contact-info-block">
				<div class="block-meta">
					<h4>Email contact</h4>
					<p>
						<a href="#">mihai.dascalu@upb.ro</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
