<div class="container">
	<div class="section-header">
		<h1>Meet the team</h1>
	</div>
</div>
<section class="section-members">

	<div class="container">
		<div class="row">
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/UPB.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListUPB">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li>
                                    <a ng-if="people.dblplink" title="dblp profile of {{people.name}}" ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a>
                                    <a ng-if="!people.dblplink" disabled="disabled"><i class="fa fa-eraser inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.scholarlink" title="Google Scholar profile of {{people.name}}" ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
                                    <a ng-if="!people.scholarlink" disabled="disabled"><i class="fa fa-graduation-cap inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.linkedin" title="LinkedIn profile of {{people.name}}" ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a ng-if="!people.linkedin" disabled="disabled"><i class="fa fa-linkedin inactive"></i></a>
                                </li>
                                <li>
                                    <a ng-if="people.researchgate" title="ResearchGate profile of {{people.name}}" ng-href="{{people.researchgate}}" target="_blank"><i class="fa fa-file-text-o"></i></a>
                                    <a ng-if="!people.researchgate" disabled="disabled"><i class="fa fa-file-text inactive"></i></a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/UGA.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListLSE">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li>
                                    <a ng-if="people.dblplink" title="dblp profile of {{people.name}}" ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a>
                                    <a ng-if="!people.dblplink" disabled="disabled"><i class="fa fa-eraser inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.scholarlink" title="Google Scholar profile of {{people.name}}" ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
                                    <a ng-if="!people.scholarlink" disabled="disabled"><i class="fa fa-graduation-cap inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.linkedin" title="LinkedIn profile of {{people.name}}" ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a ng-if="!people.linkedin" disabled="disabled"><i class="fa fa-linkedin inactive"></i></a>
                                </li>
                                <li>
                                    <a ng-if="people.researchgate" title="ResearchGate profile of {{people.name}}" ng-href="{{people.researchgate}}" target="_blank"><i class="fa fa-file-text-o"></i></a>
                                    <a ng-if="!people.researchgate" disabled="disabled"><i class="fa fa-file-text inactive"></i></a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/LMU.png"
								alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListLMU">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li>
                                    <a ng-if="people.dblplink" title="dblp profile of {{people.name}}" ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a>
                                    <a ng-if="!people.dblplink" disabled="disabled"><i class="fa fa-eraser inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.scholarlink" title="Google Scholar profile of {{people.name}}" ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
                                    <a ng-if="!people.scholarlink" disabled="disabled"><i class="fa fa-graduation-cap inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.linkedin" title="LinkedIn profile of {{people.name}}" ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a ng-if="!people.linkedin" disabled="disabled"><i class="fa fa-linkedin inactive"></i></a>
                                </li>
                                <li>
                                    <a ng-if="people.researchgate" title="ResearchGate profile of {{people.name}}" ng-href="{{people.researchgate}}" target="_blank"><i class="fa fa-file-text-o"></i></a>
                                    <a ng-if="!people.researchgate" disabled="disabled"><i class="fa fa-file-text inactive"></i></a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/ASU.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListASU">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li>
                                    <a ng-if="people.dblplink" title="dblp profile of {{people.name}}" ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a>
                                    <a ng-if="!people.dblplink" disabled="disabled"><i class="fa fa-eraser inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.scholarlink" title="Google Scholar profile of {{people.name}}" ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
                                    <a ng-if="!people.scholarlink" disabled="disabled"><i class="fa fa-graduation-cap inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.linkedin" title="LinkedIn profile of {{people.name}}" ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a ng-if="!people.linkedin" disabled="disabled"><i class="fa fa-linkedin inactive"></i></a>
                                </li>
                                <li>
                                    <a ng-if="people.researchgate" title="ResearchGate profile of {{people.name}}" ng-href="{{people.researchgate}}" target="_blank"><i class="fa fa-file-text-o"></i></a>
                                    <a ng-if="!people.researchgate" disabled="disabled"><i class="fa fa-file-text inactive"></i></a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/GSU.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListGSU">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li>
                                    <a ng-if="people.dblplink" title="dblp profile of {{people.name}}" ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a>
                                    <a ng-if="!people.dblplink" disabled="disabled"><i class="fa fa-eraser inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.scholarlink" title="Google Scholar profile of {{people.name}}" ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
                                    <a ng-if="!people.scholarlink" disabled="disabled"><i class="fa fa-graduation-cap inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.linkedin" title="LinkedIn profile of {{people.name}}" ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a ng-if="!people.linkedin" disabled="disabled"><i class="fa fa-linkedin inactive"></i></a>
                                </li>
                                <li>
                                    <a ng-if="people.researchgate" title="ResearchGate profile of {{people.name}}" ng-href="{{people.researchgate}}" target="_blank"><i class="fa fa-file-text-o"></i></a>
                                    <a ng-if="!people.researchgate" disabled="disabled"><i class="fa fa-file-text inactive"></i></a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
            <div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
                            <h3>Former team members</h3>
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListPrevious">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li>
                                    <a ng-if="people.dblplink" title="dblp profile of {{people.name}}" ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a>
                                    <a ng-if="!people.dblplink" disabled="disabled"><i class="fa fa-eraser inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.scholarlink" title="Google Scholar profile of {{people.name}}" ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
                                    <a ng-if="!people.scholarlink" disabled="disabled"><i class="fa fa-graduation-cap inactive"></i></a>
                                </li>
								<li>
                                    <a ng-if="people.linkedin" title="LinkedIn profile of {{people.name}}" ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    <a ng-if="!people.linkedin" disabled="disabled"><i class="fa fa-linkedin inactive"></i></a>
                                </li>
                                <li>
                                    <a ng-if="people.researchgate" title="ResearchGate profile of {{people.name}}" ng-href="{{people.researchgate}}" target="_blank"><i class="fa fa-file-text-o"></i></a>
                                    <a ng-if="!people.researchgate" disabled="disabled"><i class="fa fa-file-text inactive"></i></a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>