<div class="container">
	<div class="section-header">
		<h1>Meet the team</h1>
	</div>
</div>
<section class="section-members">

	<div class="container">
		<div class="row">
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/UPB.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListUPB">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li><a ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a></li>
								<li><a ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
								<li><a ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/UGA.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListLSE">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li><a ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a></li>
								<li><a ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
								<li><a ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/LMU.png"
								alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListLMU">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li><a ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a></li>
								<li><a ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
								<li><a ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/ASU.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListASU">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li><a ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a></li>
								<li><a ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
								<li><a ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="people-container">
				<div class="header">
					<div class="sign-picture-wrapper">
						<div class="sign-picture">
							<img ng-src="img/GSU.jpg" alt="location picture" />
						</div>
					</div>
				</div>
				<div class="people-list-wrapper">
					<div class="people-list" ng-repeat="people in peopleListGSU">
						<div class="people-name">
							<span>{{people.name}}</span>
						</div>
						<div class="people-social">
							<ul class="social-block">
								<li><a ng-href="{{people.dblplink}}" target="_blank"><i class="fa fa-eraser"></i></a></li>
								<li><a ng-href="{{people.scholarlink}}" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
								<li><a ng-href="{{people.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>