<div class="container">
		<div class="section-header">
			<h1>Check the projects</h1>
		</div>
	</div>
<section class="section-courses">
	<div class="projects">
		<div class="container">
			<div class="main-loader">
				<div class="loader-front">
					<img src="img/loader-front.png" alt="loader front" />
				</div>
			</div>

			<div class="ajax-target">
				<div class="single-course list-course"
					ng-repeat="project in projectsList">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="course-thumbnail">
								<a ng-href="{{project.link}}" target="_blank" class="cover-info">
									<div class="text">
										<h4>Access the project</h4>
										<p>{{project.imageDescription}}</p>
									</div>
								</a> <img ng-src="{{project.image}}" alt="course thumbnail" />
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="course-details">
								<h3 class="title">
									<a href="course.html">{{project.title}}</a>
								</h3>

								<ul class="course-meta">
									<li><span>Category: </span>{{project.category}}</li>
								</ul>

								<div class="course-action">
									<a ng-href="{{project.link}}" target="_blank" class="btn theme-btn-1 register-btn"> <span
										class="button">See more</span>
									</a>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-12">
							<div class="course-description">
								<p>{{project.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>