<div class="publications-container">
	<div class="container">
		<div class="section-header">
			<h1>Publications</h1>
		</div>
	</div>
	<div class="publications-wrapper">
		<div class="publication-wrapper" ng-repeat="publication in publications">
			<div class="publications-list">
				<div class="shape-publication-wrapper">
					<div class="shape-publication"></div>
				</div>
				<div class="text-publication-wrapper">
					<div class="text-publication">
						<span>{{publication.description}}</span>
					</div>
				</div>
				<div class="year-publication-wrapper">
					<div class="year-publication">
						<span>{{publication.year}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>