#vega-diagram {
    display: inline-flex;
    padding-top: 40px;
}

.vega-bindings {
    width: 240px;
    padding-left: 50px;

    right: 0px;
    position: absolute;
}
.diagram-title {
    font-size: 24px;
}

div {
    margin-left: 40px;
}


