<div class="row">
  <div class="page-wrapper">
    <!-- <search-box></search-box> -->
    <div id="page">
      <app-header></app-header>
      <div class="content-wrapper">
        <app-carousel></app-carousel>
        <div class="container">
          <div class="row top-buffer">
            <app-demo-menu></app-demo-menu>
          </div>
        </div>
        <div class="container">
          <div class="section-header">
            <h1>{{componentTitle}}</h1>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="feedback">
              <div class="alert alert-danger" role="alert" *ngIf="errors">
                <!-- cvErrorMsg || errorFiles || errors -->
                <!-- <p ng-if="cvErrorMsg">{{cvErrorMsg}}</p> -->
                <!-- <p ng-if="errorFiles"><i ng-show="errorFiles">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 25MB</i></p> -->
                <p class="lesson" *ngFor="let error of errors">{{error}}</p>
              </div>
              <div class="alert alert-warning" role="alert" *ngIf="warnings">
                <p class="lesson" *ngFor="let warning of warnings">{{warning}}</p>
              </div>
            </div>
            <div class="input">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  <label for="file">Curriculum Vitae
                    <span class="required">*</span>
                    <br />
                    <small>(only PDF files allowed)</small>
                  </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <input type="file" class="btn theme-btn-1" accept="application/pdf" (change)="onFileChange($event)"
                    #fileInput />
                  <!-- max size -->
                  <input id="cvFile" type="hidden" [(ngModel)]="formData.cvFile" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" *ngIf="fileUploaded">
                  <!-- <button type="submit" [disabled]="formData.invalid || loading" class="btn btn-success">Upload
                    <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
                  </button> -->
                  File uploaded
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" *ngIf="fileUploading">
                  Uploading file...
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" *ngIf="!fileUploading && !fileUploaded">
                  Select file to upload
                </div>
              </div>
              <div class="row top-buffer">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <label for="keywords">Specific keywords
                    <span class="required">*</span>
                    <br />
                    <smalL>(use comma as delimiter)</smalL>
                  </label>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <textarea id="keywords" class="form-control" [(ngModel)]="formData.keywords" rows="2"></textarea>
                </div>
              </div>
              <div class="row top-buffer">
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <label for="keywords">Words to ignore
                    <br />
                    <small>(use comma as delimiter)</small>
                  </label>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                  <textarea id="ignore" class="form-control" [(ngModel)]="formData.ignore" rows="1"></textarea>
                </div>
              </div>
              <app-demo-common-fields [formData]="formData" [language]="language" [languages]="languages"
                (advancedEmitter)="advancedEmitter($event)" (languageEmitter)="languageEmitter($event)"></app-demo-common-fields>
              <div class="row top-buffer" *ngIf="advanced">
                <div class="col-xs-6 col-md-4 col-lg-3">
                  <label for="input_threshold">Semantic similarity threshold for concept map
                    <span class="required">*</span>
                  </label>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3">
                  <div class="input-group">
                    <input id="input_threshold" type="number" step="0.1" min="0.0" max="0.9" class="form-control"
                      [(ngModel)]="formData.threshold" />
                  </div>
                </div>
              </div>
              <div class="row top-buffer" *ngIf="!loading">
                <div class="col-xs-12 col-md-12">
                  <div class="bottom-buttons" *ngIf="!loading">
                    <button class="btn theme-btn-1" (click)="process()">
                      <span class="button">Process</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="results">
              <div class="row" *ngIf="loading">
                <div class="col-xs-12 col-md-12">
                  <img src="../../../../assets/img/loading.gif" alt="Loading..." />
                </div>
              </div>
              <div *ngIf="showResults">

                <h2>Results</h2>

                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Parsed text -
                      <a (click)="showParsedText = !showParsedText">
                        <span *ngIf="!showParsedText">show</span>
                        <span *ngIf="showParsedText">hide</span>
                      </a>
                    </h3>
                    <div *ngIf="showParsedText">
                      <p class="alert alert-info" role="alert">
                        <small>The parsed text represents the extracted text from the PDF document.</small>
                      </p>
                      <div [innerHTML]="text" style="border: 1px solid #43b9c7; padding: 5px;"></div>
                    </div>
                  </div>
                </div>

                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3>Processed text -
                      <a (click)="showProcessedText = !showProcessedText">
                        <span *ngIf="!showProcessedText">show</span>
                        <span *ngIf="showProcessedText">hide</span>
                      </a>
                    </h3>
                    <div *ngIf="showProcessedText">
                      <p class="alert alert-info" role="alert">
                        <small>The processed text represents the text used for analysis. It contains lemmatized words
                          existent in
                          the internal dictionary which.</small>
                      </p>
                      <div [innerHTML]="processedText" style="border: 1px solid #43b9c7; padding: 5px;"></div>
                    </div>
                  </div>
                </div>

                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>CV overview</h3>
                    <ul class="course-description-list">
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.pages}}</span>
                        </div>
                        <div class="body">
                          <p>Pages</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.paragraphs}}</span>
                        </div>
                        <div class="body">
                          <p>Paragraphs</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.sentences}}</span>
                        </div>
                        <div class="body">
                          <p>Sentences</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.words}}</span>
                        </div>
                        <div class="body">
                          <p>Words</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.contentWords}}</span>
                        </div>
                        <div class="body">
                          <p>Content words</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.colors}}</span>
                        </div>
                        <div class="body">
                          <p>Colors</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.images}}</span>
                        </div>
                        <div class="body">
                          <p>Images</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.boldCharsCoverage | percent:'1.3'}}</span>
                        </div>
                        <div class="body">
                          <p>
                            <b>Bold</b> chars (% of total chars)</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.italicCharsCoverage | percent:'1.3'}}</span>
                        </div>
                        <div class="body">
                          <p>
                            <i>Italic</i> chars (% of total chars)</p>
                        </div>
                      </li>
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.boldItalicCharsCoverage | percent:'1.3'}}</span>
                        </div>
                        <div class="body">
                          <p>
                            <b>
                              <i>Bold Italic</i>
                            </b> chars (% of total chars)</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Social Network Accounts</h3>
                    <ul class="course-description-list">
                      <li class="lesson" *ngFor="let key of socialNetworksLinksFoundKeys">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{key}}</span>
                        </div>
                        <div class="body">
                          <p>
                            <a href="{{response.data.socialNetworksLinksFound[key]}}">{{response.data.socialNetworksLinksFound[key]}}</a>
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Keyword Overlap</h3>
                    <ul class="course-description-list">
                      <li class="lesson" *ngFor="let keyword of response.data.keywords">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{keyword.relevance | number:'1.3'}}</span>
                        </div>
                        <div class="body">
                          <p>{{keyword.name}} ({{keyword.noOccurences}} occurences)</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Relevance between Keywords and Document</h3>
                    <ul class="course-description-list">
                      <li class="lesson">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{response.data.keywordsDocumentRelevance | number:'1.3'}}</span>
                        </div>
                        <div class="body">
                          <p>(Keywords, document) coverage</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h3>Concept Map</h3>
                    <ul class="course-description-list">
                      <li class="lesson" *ngFor="let topic of response.data.graph.nodeList">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{topic.degree | number:'1.3'}}</span>
                        </div>
                        <div class="body">
                          <p>{{topic.displayName}}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="conceptMapCv">
                  </div>
                  <two-mode-graph [graph]="myGraph"></two-mode-graph>
                </div>

                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Positive words</h3>
                    <ul class="course-description-list">
                      <li class="lesson" *ngFor="let value of response.data.positiveWords">
                        <div class="heading">
                          <span class="lesson-nr no-select">&nbsp;</span>
                        </div>
                        <div class="body">{{value}}</div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Negative words</h3>
                    <ul class="course-description-list">
                      <li class="lesson" *ngFor="let value of response.data.negativeWords">
                        <div class="heading">
                          <span class="lesson-nr no-select">&nbsp;</span>
                        </div>
                        <div class="body">{{value}}</div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row top-buffer">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h3>Linguistic Inquiry and Word Count</h3>
                    <ul class="course-description-list" id="liwc-sentiments">
                      <li class="lesson" *ngFor="let key of liwcEmotionsKeys">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{key}}</span>
                        </div>
                        <div class="body">&nbsp;</div>
                        <ul class="lesson-description" style="display: none;">
                          <li *ngFor="let value of response.data.liwcEmotions[key]">
                            <div class="heading">
                              <span class="lesson-nr no-select">&nbsp;</span>
                            </div>
                            <div class="body">
                              <p>{{value}}</p>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h4>Textual Complexity Indices</h4>
                    <ul class="course-description-list" id="textual-complexity">
                      <li class="lesson" *ngFor="let complex of response.data.textualComplexity">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{complex.category}}</span>
                        </div>
                        <div class="body">&nbsp;</div>
                        <ul class="lesson-description" style="display: none;">
                          <li *ngFor="let complexEntry of complex.valences">
                            <div class="heading">
                              <span class="lesson-nr no-select">{{complexEntry.value | number:'1.3'}}</span>
                            </div>
                            <div class="body">
                              <p>{{complexEntry.index}}</p>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
