<div class="col-xs-8 col-sm-8 hidden-md hidden-lg reader-menu mobile-menu">
  <nav [ngClass]="{'open': hamburgerMenu, 'fade': !hamburgerMenu}" [hidden]="!hamburgerMenu">
    <ul>
      <li *ngFor="let item of items">
        <a href="{{item.href}}">{{item.name}}</a>
      </li>
    </ul>
  </nav>
</div>
<div class="hidden-sm hidden-xs col-md-8 col-lg-8 reader-menu">
  <nav>
    <ul>
      <li *ngFor="let item of items">
        <a href="{{item.href}}">{{item.name}}</a>
      </li>
    </ul>
  </nav>
</div>

