<nav class="header navbar navbar-defaultr chatroom-header col-xs-9 col-md-10" role="navigation">
    <ul class="header-item room-info">
        <li ng-class="{active: showMenu.roomName}">
            <a
                class="room"
                ng-if="room.name"
                ng-click="toggleMenu('roomName');"
            >
                <!-- <i class="fa fa-ellipsis-v"></i>&nbsp; -->
                <span class="room-name"> {{room.name}} &nbsp;</span>
            </a>
            <div
                class="menu-area menu-conversation ease-transition">
                <i class="main-caret caret-up"></i>
                <ul class="actions">
                    <li>
                        <a
                        class="act export"
                        ui-sref="main.chat.room.export"
                        translate="header.export"
                        ></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav-tools">
        <li class="header-item" ng-class="{active: showMenu.main}" id="menu-list">
            <a class="menu-btn list" ng-click="toggleMenu('main')">
                <i class="fa fa-bars"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="menu-area ease-transition">
                <i class="main-caret caret-up"></i>
                <ul class="actions">
                    <li>
                        <a class="act my-profile" ui-sref="modal({modal: 'my-profile'})" translate="header.menu.my_profile"></a>
                    </li>
                    <li>
                        <a class="act ch-lang" ui-sref="modal({modal: 'change-language'})" translate="header.menu.change_language"></a>
                    </li>
                    <li>
                        <a class="act stared-items" ui-sref="main.dashboard.section({section: 'bookmarks'})" translate="header.menu.bookmarks"></a>
                    </li>
                    <li>
                        <a class="act feedback" ui-sref="modal({modal: 'feedback'})" translate="header.menu.feedback"></a>
                    </li>
                    <!-- <li>
                        <a class="act recent" ui-sref="modal({modal: 'mentions'})" translate="header.menu.mentions"></a>
                    </li> -->
                    <li>
                        <a class="act logout" ui-sref="logout" translate="header.menu.logout"></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
