<div id="postbox" class="panel col-xs-9 col-md-10">
    <form role="form" name="msgForm" ng-submit="send();" novalidate>
        <div class="form-group col-xs-12 col-md-12 wrap-form">
            <span class="add-on"><i ng-class="{'icon-share-alt': isLinked()}"></i></span>
            <input id="type-msg" class="form-control col-xs-12 col-md-12"
                placeholder="{{ 'chatroom.room.new_message' | translate }}"
                ng-model="msg.message"
                minlength="1"
                autofocus>
        </div>
        <button class="btn btn-success submit-post col-xs-2 col-md-1" translate="chatroom.room.send"></button>
    </form>
</div>