<nav id="sidebar" class="col-xs-3 col-md-2" ng-class="{show: show}">
    <button type="button" class="open-close" aria-hidden="true" ng-click="toggleVisibility();">
        <span tooltip="{{'sidebar.btn.open' | translate}}" tooltip-placement="bottom">
            <i class="fa fa-bars"></i>
        </span>
        <i class="icon-cross"
            tooltip="{{'sidebar.btn.close' | translate}}"
            tooltip-placement="bottom"
            >
        </i>
    </button>
    <div class="sidebar-content">
        <div class="wrap-content">
            <div class="sidebar-groups">
                <h2 class="category uppercase">
                    <a ui-sref="main.dashboard" translate="sidebar.dashboard.title"></a>
                    <a ui-sref="main.dashboard">
                        <i class="fa fa-home"></i>
                    </a>
                </h2>
            </div>
            <hr class="separator">
            <div  class="sidebar-groups no-padding">
                <label>
                    <input class="search" name="search" placeholder="{{'header.search' | translate}}">
                    <i class="fa fa-search"></i>
                </label>
            </div>
            <hr class="separator">
            <div  class="sidebar-groups">
                <h2 class="category uppercase">
                    <a
                        ui-sref="main.dashboard.section({section: 'rooms'})"
                        translate="sidebar.rooms.title"
                    ></a>
                    <a ui-sref="modal({modal: 'new-room'})" role="button">
                        <i class="icon-plus"
                            tooltip="{{'sidebar.rooms.add' | translate}}"
                            tooltip-placement="bottom"
                            tooltip-append-to-body='true'
                        ></i>
                    </a>
                </h2>
                <ul class="channel-items">
                    <li ng-repeat="room in Room.objects" ng-class="{active: channel === 'room' && id === room.id}">
                        <a ui-sref="main.chat.room({roomId: room.id})">{{room.name}}</a>
                        <i
                            class="icon-cross"
                            ng-if="room.user === User.user.id"
                            ng-click="deleteRoom(room.id);"
                        ></i>
                    </li>
                </ul>
            </div>
            <hr class="separator">
            <div  class="sidebar-groups">
                <h2 class="category uppercase">
                    <a ui-sref="main.dashboard.section({section: 'friends'})"
                        translate="sidebar.friends.title"
                    ></a>
                    <a ui-sref="modal({modal: 'invite-friend'})" role="button">
                        <i class="icon-plus"
                        tooltip="{{'sidebar.friends.add' | translate}}"
                        tooltip-placement="bottom"
                        tooltip-append-to-body='true'
                    ></i>
                    </a>
                </h2>
                <ul class="channel-items direct-messages">
                    <li
                        class="st-{{user.online && user.status || 'offline'}}"
                        ng-repeat="user in User.objects"
                        ng-class="{active: channel === 'friend' && id === user.id}">
                        <div class="avatar sm">
                            <img ng-src="{{user.picture}}" />
                        </div>&nbsp;&nbsp;&nbsp;
                        <a class="status-name" ui-sref="main.chat.friend({friendId: user.id})">
                            {{user | userName}}
                        </a>
                        <div class="circle"></div>&nbsp;
                    </li>
                </ul>
            </div>
            <hr class="separator">
        </div>
    </div>
    <footer id="sidebar-footer">
        <div class="avatar">
            <img ng-src="{{User.user.picture}}" ng-if="User.user.picture">
            <div class="change-avatar ease-transition">
                <a ui-sref="modal({modal: 'my-profile'})" translate="sidebar.profile.change_photo"></a>
            </div>
        </div>
        <div class="center-container">
            <div class="status st-{{User.user.status}}">
                <div>
                    <div class="circle"></div>
                    <span> {{User.user.status | translate}}</span>
                </div>
            </div>
            <div class="username">{{User.user | userName}}</div>
        </div>
        <div class="drop-img">
            <i class="fa fa-angle-up"></i>
            <ul class="menu-sts drop-up ease-transition">
                <i class="main-caret caret-down"></i>
                <li
                    class="st-{{status}}"
                    ng-repeat="status in ['online', 'busy', 'invisible'] track by $index"
                    ng-click="changeStatus(status);"
                    >
                    <div class="circle"></div>
                    <span class="sts" translate="{{'sidebar.profile.status.' + status}}"></span>
                </li>
            </ul>
        </div>
    </footer>
</nav>
