<div class="row top-buffer">
  <div class="col-xs-6 col-md-4 col-lg-3">
    <label for="input_language">Language
      <span class="required">*</span>
    </label>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3">
    <select id="input_language" class="form-control" [(ngModel)]="formData.language" (ngModelChange)="onChangeLanguage($event)">
      <option *ngFor="let option of languages" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-xs-12 col-md-12">
    <a (click)="toggleAdvanced()" class="pointer">
      <span *ngIf="!advanced">&#x25BC; Show</span>
      <span *ngIf="advanced">&#x25B2; Hide</span>
      advanced options
    </a>
  </div>
</div>
<div class="row top-buffer" *ngIf="advanced">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <input type="checkbox" id="input_preposition" [checked]="formData['preposition']" (change)="formData['preposition'] = !formData['preposition']"  />
    <label for="input_preposition">Preposition
      <span class="required">*</span>
    </label>
  </div>
</div>
<div class="row top-buffer" *ngIf="advanced">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <input type="checkbox" id="input_interjection" [checked]="formData['interjection']" (change)="formData['interjection'] = !formData['interjection']"  />
    <label for="input_interjection">Interjection
      <span class="required">*</span>
    </label>
  </div>
</div>
<div class="row top-buffer" *ngIf="advanced">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <input type="checkbox" id="input_conjunction" [checked]="formData['conjunction']" (change)="formData['conjunction'] = !formData['conjunction']"  />
    <label for="input_conjunction">Conjuction
      <span class="required">*</span>
    </label>
  </div>
</div>
<div class="row top-buffer" *ngIf="advanced">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <input type="checkbox" id="input_pronoun" [checked]="formData['pronoun']" (change)="formData['pronoun'] = !formData['pronoun']"  />
    <label for="input_pronoun">Pronoun
      <span class="required">*</span>
    </label>
  </div>
</div>
<div class="row top-buffer" *ngIf="advanced">
  <div class="col-xs-6 col-md-4 col-lg-3">
    <label for="input_number_of_docs">Number of docs to return
      <span class="required">*</span>
    </label>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3">
    <select id="input_number_of_docs" class="form-control" [(ngModel)]="formData.number_of_docs">
      <option *ngFor="let option of number_of_docs" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>
</div>
<div class="row top-buffer" *ngIf="advanced">
  <div class="col-xs-6 col-md-4 col-lg-3">
    <label for="input_word2vec">Word2Vec corpus
      <span class="required">*</span>
    </label>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3">
    <select id="input_word2vec" class="form-control" [(ngModel)]="formData.word2vec">
      <option *ngFor="let option of word2vecOptions" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>
</div>
