.displayed-text {
    color: #555;
    padding: 6px 12px;
    font-size: 12px;
    background: #f5f5f5;
}

:host ::ng-deep ul.level1 {
    list-style-type: none;
    padding-left: 6px;
}

:host ::ng-deep ul.level2 {
    list-style-type: none;
    padding-left: 12px;
}

span.complexity-value {
    float: right;
}

p.status > a {
    cursor: pointer;
}

div.body > div {
    display: inline;
    margin: 0 0 20px;
    color: #a8afb0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35em;
    letter-spacing: 0.04em;
}
