<div class="row">
    <div class="page-wrapper">
        <div id="page">
            <app-header></app-header>
            <div class="content-wrapper">
                <app-carousel></app-carousel>
                <div class="container">
                    <div class="row top-buffer">
                        <app-demo-menu></app-demo-menu>
                    </div>
                </div>
                <div class="container">
                    <div class="section-header">
                        <h1>{{componentTitle}}</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <div *ngIf="lessons.length === 0">
                            <div class="form-row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <label for="input_text" class="section-title">Expertise
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <div class="checkbox">
                                        <label class="section-subtitle"><input class="input-domain" type="radio"
                                                                               name="nutrition"
                                                                               (click)="selectDomain('nutrition')"
                                                                               [checked]='selectedDomain==="nutrition"'>Nutrition
                                            Domain</label>
                                    </div>
                                    <div class="subdomains" [class.active]="selectedDomain==='nutrition'">
                                        <div class="form-check" *ngFor="let expert of expertise; let first= first;">
                                            <input class="form-check-input" [class.child]="expert.isChild"
                                                   type="checkbox"
                                                   value="{{expert.value}}"
                                                   id="{{expert.value + expert.id}}" (click)="check(expert, first)"
                                                   [checked]="expert.checked" [disabled]="selectedDomain==='other'">
                                            <label class="form-check-label" for="{{expert.value + expert.id}}">
                                                {{expert.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <div class="checkbox">
                                        <label class="section-subtitle"><input class="input-domain" type="radio"
                                                                               name="nutrition"
                                                                               (click)="selectDomain('other')"
                                                                               [checked]='selectedDomain==="other"'>Other
                                            Domains</label>
                                    </div>
                                    <div class="subdomains" [class.active]="selectedDomain==='other'">
                                        <label for="input_text" class="section-subtitle col-xs-12 col-md-12 col-lg-12">Select
                                            level of experience
                                            <span class="required">*</span>
                                        </label>
                                        <select id="level" class="form-control level col-xs-6 col-md-6 col-lg-6"
                                                [(ngModel)]="selectedLevel" [disabled]="selectedDomain==='nutrition'">
                                            <option *ngFor="let level of levels" [value]="level">{{level}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <label for="input_text" class="section-title" *ngIf="selectedDomain=='nutrition'">Keywords
                                        <span class="required">*</span>
                                    </label>
                                    <label for="input_text" class="section-title" *ngIf="selectedDomain=='other'">Sub-domains
                                        <span class="required">*</span>
                                    </label>
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="tagcloud">
                                        <div *ngFor="let keyword of selectedKeywords; let index=index;">{{keyword}}
                                            <span
                                                    (click)="removeKeyword(index)">X</span></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="input-search-group">
                                        <input id="input_text_keywords" class="form-control" (input)="searchKeyword()"
                                               [(ngModel)]="inputKeyword">
                                        <button class="filter-button" (click)="addKeyword()">Add</button>
                                    </div>

                                    <div class="wrapper-autocomplete" *ngIf="inputKeyword && show">
                                        <div class="item-autocomplete" (click)="addItem(result)"
                                             *ngFor="let result of filteredKeywords">{{result}}</div>
                                        <div class="item-autocomplete"
                                             *ngIf="filteredKeywords.length === 0 && inputKeyword">No keywords found!
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <label for="input_text" class="section-title">Text</label>
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <textarea id="input_text" class="form-control" [(ngModel)]="textValue"
                                              rows="5"></textarea>
                                </div>
                            </div>
                            <div class="form-row themes" [class.active]="selectedDomain==='nutrition'">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <label for="input_text" class="section-title">Themes</label>
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="form-check" *ngFor="let theme of themes;">
                                        <input class="form-check-input" [class.child]="theme.isChild" type="checkbox"
                                               value="{{theme.value}}"
                                               id="{{theme.value}}" (click)="checkTheme(theme)"
                                               [checked]="theme.checked" [disabled]="selectedDomain==='other'">
                                        <label class="form-check-label" for="{{theme.value}}">
                                            {{theme.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row top-buffer" *ngIf="showResults === true && lessons.length === 0">
                                <div class="col-xs-12 col-md-12 center">
                                    <span class="no-lessons">No lessons found!</span>
                                </div>
                            </div>
                            <div class="row top-buffer" *ngIf="!loading && lessons.length === 0">
                                <div class="col-xs-12 col-md-12">
                                    <div class="bottom-buttons" *ngIf="!loading">
                                        <button class="btn theme-btn-1" (click)="process()">
                                            <span class="button">Process</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="results">
                            <div class="row" *ngIf="loading">
                                <div class="col-xs-12 col-md-12 center">
                                    <img src="../../../../assets/img/loading.gif" alt="Loading..."/>
                                </div>
                            </div>
                            <div class="results-curriculum" *ngIf="showResults === true && lessons.length !== 0">

                                <div class="row" *ngIf="selectedDomain!=='other'">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <h2>Lessons providing recommended prior knowledge</h2>
                                        <div class="no-lessons" *ngIf="preRequisite.length === 0">No prior lessons
                                            required!
                                        </div>

                                        <ngb-accordion [closeOthers]="true" *ngIf="preRequisite.length > 0">
                                            <ng-container *ngFor="let pre of preRequisiteLessons; let index = index">
                                                <ngb-panel>
                                                    <ng-template ngbPanelTitle>
                                                        <span class="accordion-section-title">{{index + 1 + '. ' + pre.title}}</span>
                                                    </ng-template>
                                                    <ng-template ngbPanelContent>
                                                        <span>{{pre.help}}</span>
                                                    </ng-template>
                                                </ngb-panel>
                                            </ng-container>
                                        </ngb-accordion>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <h2>Recommended lessons</h2>
                                        <ng-container *ngIf="recommended.length > 0">
                                            <div class="lesson-container" *ngFor="let rec of recommended; let index = index">
                                                <ngb-accordion [closeOthers]="true">
                                                        <ngb-panel>
                                                            <ng-template ngbPanelTitle>
                                                                <span class="accordion-section-title">{{index + 1 + '. ' + rec.title}}</span>
                                                            </ng-template>
                                                            <ng-template ngbPanelContent>
                                                                <span *ngIf="selectedDomain!=='other'">{{rec.help}}</span>
                                                                <ng-container *ngIf="selectedDomain==='other'">
                                                                    <div *ngFor="let learn of rec['learn_details']">{{learn}}</div>
                                                                </ng-container>
                                                            </ng-template>
                                                        </ngb-panel>
                                                </ngb-accordion>
                                                <div class="like-buttons" *ngIf="selectedDomain=='other'">
                                                    <span class="glyphicon glyphicon-thumbs-up" (click)="likeLesson(rec)" [class.active]="likedLessons.includes(rec.published_title)"></span>
                                                    <span class="glyphicon glyphicon-thumbs-down" (click)="dislikeLesson(rec)" [class.active]="dislikedLessons.includes(rec.published_title)"></span>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <div class="row" *ngIf="selectedDomain!=='other'">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <h2>Follow-up lessons</h2>
                                        <div class="no-lessons" *ngIf="postRequisite.length === 0">No later lessons required!
                                        </div>
                                        <ngb-accordion [closeOthers]="true" *ngIf="postRequisite.length > 0">
                                            <ng-container *ngFor="let post of postRequisiteLessons; let index = index">
                                                <ngb-panel>
                                                    <ng-template ngbPanelTitle>
                                                        <span class="accordion-section-title">{{index + 1 + '. ' + post.title}}</span>
                                                    </ng-template>
                                                    <ng-template ngbPanelContent>
                                                        <span>{{post.help}}</span>
                                                    </ng-template>
                                                </ngb-panel>
                                            </ng-container>
                                        </ngb-accordion>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer" *ngIf="!loading && lessons.length !== 0 && selectedDomain==='other'">
                            <div class="col-xs-12 col-md-12 align-center">
                                <div class="text-center" > Rate the recommended lessons!</div>
                                <ngb-rating [(rate)]="selectedRating" (hover)="hoveredRating=$event" (leave)="hoveredRating=0" ></ngb-rating>
                            </div>
                        </div>
                    </div>

                        <div class="row top-buffer" *ngIf="!loading && lessons.length !== 0">
                            <div class="col-xs-12 col-md-12">
                                <div class="bottom-buttons" *ngIf="!loading">
                                    <button class="btn theme-btn-1" (click)="refineSearch()" *ngIf="selectedDomain==='other'">
                                        <span class="button">Refine search</span>
                                    </button>
                                    <button class="btn theme-btn-1" (click)="newSearch()">
                                        <span class="button">New Search</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
