<div class="row">
  <div class="page-wrapper">
    <!-- <search-box></search-box> -->
    <div id="page">
      <app-header></app-header>
      <div class="content-wrapper">
        <app-carousel></app-carousel>
        <div class="container">
          <div class="row top-buffer">
            <app-demo-menu></app-demo-menu>
          </div>
        </div>
        <div class="container">
          <div class="section-header">
            <h1>Computer Supported Collaborative Learning (new)</h1>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <div class="input">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-3">
                  <label for="file">CSCL file <span class="required">*</span><br /><small>(only XML files
                      allowed)</small></label>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-6">
                  <div [dropzone]="dropzone" class="dropzone dropzone-default dropzone-success" id="kt_dropzone_3"
                    (config)="config" (init)="onUploadInit($event)" (sending)="onSending($event)"
                    (error)="onUploadError($event)" (success)="onUploadSuccess($event)"
                    (complete)="onUploadComplete($event, $data)">
                    <div class="dropzone-msg dz-message needsclick">
                      <h3 class="dropzone-msg-title">Drop your XML file here or click this area to upload it.</h3>
                      <span class="dropzone-msg-desc">Your file will be uploaded immediately to the server.<br />
                        Only XML files are allowed!</span>
                    </div>
                  </div>
                  <input type="hidden" ng-model="formData.csclFile" />
                </div>
                <div class="col-xs-12 col-md-12 col-lg-3">
                  <!-- <a href="{{sampleFileUrl}}" target="_blank">Sample CSCL file</a> -->
                  <!-- <dropzone class="dropzone-container dropzone dropzone-default dropzone-success" [config]="config"
                    (init)="onUploadInit($event)" (sending)="onSending($event)" (error)="onUploadError($event)"
                    (success)="onUploadSuccess($event)">
                  </dropzone> -->
                </div>
              </div>
              <app-demo-common-fields [formData]="formData" [language]="language" [languages]="languages"
                (advancedEmitter)="advancedEmitter($event)" (languageEmitter)="languageEmitter($event)">
              </app-demo-common-fields>
              <div class="row top-buffer" *ngIf="!loading">
                <div class="col-xs-12 col-md-12">
                  <div class="bottom-buttons" *ngIf="!loading">
                    <button class="btn theme-btn-1" (click)="process()">
                      <span class="button">Process</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="results">

              <div class="row" *ngIf="loading">
                <div class="col-xs-12 col-md-12">
                  <img src="../../../../assets/img/loading.gif" alt="Loading..." />
                </div>
              </div>

              <div *ngIf="showResults === true">
                <nav class="row" id="cscl-tabs">
                  <ul>
                    <li>
                      <a title="Participant Interaction" (click)="switchTo('#participant-interaction')">
                        <span>Participant Interaction</span>
                      </a>
                    </li>
                    <li>
                      <a title="CSCL Indices" (click)="switchTo('#cscl-indices')">
                        <span>CSCL Indices</span>
                      </a>
                    </li>
                    <li>
                      <a title="Participant Evolution" (click)="switchTo('#participant-evolution')">
                        <span>Participant Evolution</span>
                      </a>
                    </li>
                    <li>
                      <a title="Social KB" (click)="switchTo('#social-kb')">
                        <span>Social KB</span>
                      </a>
                    </li>
                    <li>
                      <a title="Contribution Indices" (click)="switchTo('#contribution-indices')">
                        <span>Contribution Indices</span>
                      </a>
                    </li>
                    <ng-repeat *ngFor="let conceptMap of response.data.conceptMaps | keyvalue">
                      <ng-container *ngIf="conceptMap.value != null">
                        <li>
                          <a title="Concept Graph {{conceptMap.key}}"
                            (click)="switchTo('#concept-graph-' + conceptMap.key)">
                            <span>Concept Graph {{conceptMap.key}}</span>
                          </a>
                        </li>
                      </ng-container>
                    </ng-repeat>
                  </ul>
                </nav>

                <div class="row response-zone" id="participant-interaction" style="display: none;">
                  <div class="col-xs-12 col-md-3">
                    <h4>Participant Interaction</h4>
                    <ul class="course-description-list">
                      <li class="lesson" *ngFor="let participant of response.data.participantInteractionGraph.nodeList">
                        <div class="heading">
                          <span class="lesson-nr no-select"></span>
                        </div>
                        <div class="body">
                          <p>{{participant.displayName}}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <two-mode-graph [graph]="participantInteractionGraph"></two-mode-graph>
                  </div>
                </div>

                <div class="row response-zone" id="cscl-indices" style="display: none;">
                  <div class="col-xs-12 col-md-12">
                    <h4>CSCL Indices</h4>
                    <table class="cscl-indices">
                      <tbody>
                        <tr class="entry" *ngFor="let csclIndex of csclIndices | keyvalue">
                          <td class="participant">{{csclIndex.key}}</td>
                          <td class="value" *ngFor="let csclIndexInner of csclIndex.value | keyvalue">
                            {{csclIndexInner.value | number:'1.3-3'}}
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr class="entry" *ngFor="let csclIndex of csclIndices | keyvalue; first as isFirst">
                          <ng-container *ngIf="isFirst">
                            <td class="participant">Participant</td>
                            <td class="value" *ngFor="let csclIndexInner of csclIndex.value | keyvalue">
                              {{csclIndexInner.key}}
                            </td>
                          </ng-container>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <h5>CSCL Indices Description</h5>
                    <ul class="course-description-list">
                      <li class="lesson cscl-indices-description"
                        *ngFor="let csclIndexDescription of csclIndicesDescriptions | keyvalue">
                        <div class="heading">
                          <span class="lesson-nr no-select">{{csclIndexDescription.key}}</span>
                        </div>
                        <div class="body">
                          <p>{{csclIndexDescription.value}}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row response-zone" id="participant-evolution" style="display: none;">
                  <div class="col-xs-12 col-md-12">
                    <h4>Participant evolution</h4>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <svg id="participantEvolution" width="100%" height="300"></svg>
                  </div>
                </div>

                <div class="row response-zone" id="social-kb" style="display: none;">
                  <div class="col-xs-12 col-md-12">
                    <h4>Collaboration - Social Knowledge Building</h4>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <svg id="collaborationSocialKB" width="100%" height="300"></svg>
                  </div>
                </div>

                <div class="row response-zone" id="contribution-indices" style="display: none;">
                  <div class="col-xs-12 col-md-12">
                    <h4>Contributions Indices</h4>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <table class="contributions-indices">
                      <thead>
                        <tr class="entry">
                          <th>Contribution ID</th>
                          <th>Social KB</th>
                          <th>Importance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let contribution of response.data.contributionsIndices; let i = index"
                          class="entry">
                          <td class="contribution-id">{{i}}</td>
                          <td class="value">{{contribution.SOCIAL_KB | number:'1.3-3'}}</td>
                          <td class="value">{{contribution.LOCAL_IMPORTANCE | number:'1.3-3'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <ng-repeat *ngFor="let conceptMap of response.data.conceptMaps | keyvalue">
                  <div class="row response-zone" id="concept-graph-{{conceptMap.key}}" style="display: none;">
                    <ng-container *ngIf="conceptMap.value != null">
                      <div class="col-xs-12 col-md-3">
                        <h4>Concept Map ({{conceptMap.key}})</h4>
                        <ul class="course-description-list">
                          <li class="lesson" *ngFor="let topic of conceptMap.value.nodeList">
                            <div class="heading">
                              <span class="lesson-nr no-select">{{topic.degree | number}}</span>
                            </div>
                            <div class="body">
                              <p>{{topic.uri}}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-md-9">
                        <two-mode-graph [graph]="conceptGraphs[conceptMap.key]"></two-mode-graph>
                      </div>
                    </ng-container>
                  </div>
                </ng-repeat>

                <div class="row" id="voice-overlap" class="response-zone" style="display: none;">
                  <div class="col-xs-12 col-md-12">
                    <h4>Collaboration - Voice Overlap</h4>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <svg id="collaborationVoiceOverlap" width="100%" height="300"></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>