table.table-bordered > tbody{
    border:2px solid;
}

table.table-bordered > tbody >tr > td{
    color: black;
	font-size: 18px;
}

#svgContainer { 
	z-index: auto;
	position:absolute;
	opacity: 1;
}

/* .table>tbody>tr>td {
padding: 4px !important;
} */