<div class="wrap-card" ui-sref="main.chat.room({roomId: room.id})">
    <div
        class="close-button"
        ng-click="$event.stopPropagation();
        Room.delete(room.id);"
        ng-if="room.user === User.user.id"
    >
        <i class="fa fa-trash-o"></i>
    </div>
    <div class="thumbnail">
        <h3 class="card-name">{{room.name}}</h3>
        <hr class="separator">
        <div class="card-details">
            <p
                class="card-members"
                ng-if="room.users.length === 0"
                translate="dashboard.rooms.no_online_user"
            >
            </p>
            <p
                class="card-members"
                ng-if="room.users.length === 1"
                translate="dashboard.rooms.online_user"
            >
            </p>
            <p
                class="card-members"
                ng-if="room.users.length > 1"
                translate="dashboard.rooms.online_users"
                translate-values="{online: room.users.length}"
            >
            </p>
            <p
                ng-if="room.lastMessageAt"
                translate-values="{lastAccessed: '{{ room.lastMessageAt | date:'MMM d, h:mm a'}}' }"
                translate="dashboard.rooms.last_message"
            >
            </p>
            <p
                ng-if="!room.lastMessageAt"
                translate="dashboard.rooms.no_messages"
            >
            </p>
        </div>
    </div>
</div>
